<template>
    <div>
        <div class="form-group field-a-title">
            <label for="a-title" class="control-label">Title</label>
            <div class="row">
                <div :class="need_generate == '1' ? 'col-sm-8' : 'col-sm-12'">
                    <input type="text" id="a-title" name="Adv[title]" @keyup="translate" v-model="titleText" maxlength="255" class="form-control" >
                </div>
                <div v-if="need_generate == '1'" class="col-sm-4">
                    <button type="button" class="btn btn-primary" @click="generateTitle">Generate title</button>
                </div>
            </div>
            <div class="help-block"></div>
        </div>
        <div class="form-group field-adv-url">
            <label for="adv-url" class="control-label">Url</label>
            <input type="text" id="adv-url" name="Adv[url]" v-model="urlText" readonly="readonly" maxlength="255" class="form-control">
            <div class="help-block"></div>
        </div>

        <div v-if="descText">
            {{descText}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "adv-title",
        props: {
            title: String,
            url: String,
            ajaxurl: String,
            adv_id: String,
            need_generate: String,
        },
        data: function(){
            return {
                titleText: '',
                urlText: '',
                descText: '',
            }
        },
        methods: {
            translate(){
                this.$http.get(this.ajaxurl+'/translate/?text='+this.titleText).then(response => {
                    if(response.status){
                        this.urlText = response.body
                    }
                });
            },
            generateTitle(){
                this.$http.get(this.ajaxurl+'/generate-car/?id='+this.adv_id).then(response => {
                    if(response.status){
                        this.titleText = response.body.title
                        this.descText = response.body.desc
                        this.translate()
                        this.setRdyText()
                    }
                });
            },
            setRdyText(){
                let text = $('#a-text').val();


                $('#adv-text_rdy').val('<p>'+this.descText+'</p>'+"\n" + text)
            }
        },
        created: function () {
            this.titleText = this.title;
            this.urlText = this.url
        }
    }
</script>

<style scoped>

</style>