<template>
    <div style="display: inline-block ">
        <a href="#" @click="clickApprove" class="btn btn-success"><i class="icon-check icons"></i> Approve</a>
        <button @click="clickReject" :disabled="reasonText.length < 5" class="btn btn-danger"><i
                class="icon-close icons"></i> Reject
        </button>
        <div class="input-group inline-group">
            <input v-model="reasonText" type="text" id="username3" name="username3" class="form-control"><!--
            -->
            <div class=" dropup">
                <a href="#" class="input-group-addon dropdown-toggle" id="dropdownMenuButton"
                   data-toggle="dropdown"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" @click="reasonText = reason" v-for="reason in reasonList" href="#">{{reason}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "moderate-ad",
        props: {
            adv_id: String,
            url: String,
        },
        data: function () {
            return {
                reasonText: '',
                reasonList: [
                    'Ad violates rules',
                    'Invalid product',
                    'Duplicate ad',
                ],
            }
        },
        methods: {
            clickApprove() {
                window.location = this.url+'/approve/?id='+this.adv_id;
            },
            clickReject() {
                window.location = this.url+'/reject/?id='+this.adv_id+'&text='+this.reasonText;
            }
        }

    }
</script>

<style scoped>
    .inline-group {
        display: inline-block;
        width: 300px;
    }

    .inline-group input {
        display: inline-block;
        width: 240px;
        top: 3px;
    }

    .inline-group .dropup {
        display: inline-block;
        width: 40px;
        height: 35px;
        top: -5px;
    }

    .inline-group .dropup a {
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
        border-left: 0;
    }
</style>