<section class="about-us">

  <div class="about-us__title">

    <h2>О нас</h2>
    
  </div>

  <div class="about-us__content">

    <div class="about-us__container">
      <p>Мы — 
самый продвинутый сервис бесплатных объявлений 
на Кипре.</p>
    </div>

    
    <div class="about-us__container">
      <p>Мы не сохраняем проданные товары 
в базе данных 
и у нас нет повторяющихся объявлений.</p>
    </div>

    
    <div class="about-us__container">
      <p>Наша команда модераторов контролирует весь контент на сайте. </p>
    </div>

    
    <div class="about-us__container">
      <p>К каждому объявлению 
можно добавить фотографии высокого разрешения.</p>
    </div>

  
  </div>

  <div class="about-us__bottom">

    <div class="about-bottom__left">

      <div class="bottom-left__text">
        <p>По мере роста мы улучшаем сайт и приложения
        согласно вашим требованиям. 
        Мы приветствуем любые пожелания и предложения. 
        Если вы хотите связаться с нашей командой, 
        отправьте сообщение на <a href="mailto:support@bazar-cy.com">support@bazar-cy.com</a></p>
      </div>
      <div class="bottom-left__links">
        <ul>
          <li><a href="#">Объявления</a></li>
          <li><a href="#">Акции и бонусы</a></li>
          <li><a href="#">Информация</a></li>
        </ul>
      </div>

    </div>


    <div class="about-bottom__right">

      <div class="bottom-right__apple">
      <a href="#">
        <div class="about-btm__icon"><img src="img/apple.png" alt="Apple Icon"></div>
        <div class="about-apple__text">Загрузить<br>  в Apple Store</div>
      </a>
      </div>


      <div class="bottom-right__market">
      <a href="#">
        <div class="about-btm__icon"><img src="img/market.png" alt="Google PlayMarket"></div>
        <div class="about-market__text">Загрузить<br> в Google Play</div>
      </a>
      </div>
    </div>

  </div>

</section>