<div style="height: 70px">

</div>
<section class="content">
    <h1>Продам БМВ</h1>

    <div class="row">
        <div class="col-sm-12">
            <ul class="a-item__head">
                <li>Лимассол</li>
                <li>26 Апр 18:04</li>
                <li>34 просмотра сегодня, всего 239</li>
                <li>№ 32711</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 padding-right-40">
            <div class="new-item__photo a-item__image">
                <!--Owl Carousel Image  -->
                <div class="owl-carousel item-image" data-slider-id="1">
                    <div><img src="img/img1.png" alt="Img"></div>
                    <div><img src="img/img2.png" alt="Img"></div>
                    <div><img src="img/img3.png" alt="Img"></div>
                    <div><img src="img/img4.png" alt="Img"></div>
                    <div><img src="img/img2.png" alt="Img"></div>
                    <div><img src="img/img4.png" alt="Img"></div>
                    <div><img src="img/img1.png" alt="Img"></div>
                    <div><img src="img/img4.png" alt="Img"></div>
                    <div><img src="img/img2.png" alt="Img"></div>
                    <div><img src="img/img4.png" alt="Img"></div>
                    <div><img src="img/img1.png" alt="Img"></div>
                </div>
                <!-- End Owl Carousel Image  -->

                <!--Owl Carousel Thumbs  -->
                <div class="owl-thumbs__container swiper-for-thumbs">
                    <div class="owl-thumbs  swiper-wrapper" data-slider-id="1">
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img3.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></span>
                        <span class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></span>
                    </div>
                </div>
                <!-- ENd owl Carousel Thumbs  -->

            </div>
        </div>
        <div class="col-md-6 padding-left-40 a-item__right">
            <div class="row">
                <div class="col-sm-6 padding-right-40">
                    <div class="a-item__price rect">
                            &euro; 380 000
                    </div>

                    <div class="a-item__params">
                        <div class="a-item__params-field">
                            <span>Тип</span>
                            Недвижимость
                        </div>
                        <div class="a-item__params-field">
                            <span>Город</span>
                            Лимассол
                        </div>
                        <div class="a-item__params-field">
                            <span>Район</span>
                            Рекреационный центр отдыха
                        </div>
                        <div class="a-item__params-field">
                            <span>Спальни</span>
                            3 спальни и диван в гостинной
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 padding-left-40">
                    <div class="a-item__contacts" data-toggle="phone-block">
                        <svg role="img" class="icon  icon--white icon_phone-stroke" style="font-size: 24px">
                            <use xlink:href="icon/icon.svg#icon_phone-stroke"></use>
                        </svg>
                        Показать контакты
                    </div>
                    <div class="a-item__contacts-content" id="phone-block">
                        <div class="a-item__contacts-content_name">
                            Александр Константинов
                        </div>
                        <div class="a-item__contacts-content_date">
                            На сайте с 1 апреля 1245
                        </div>


                        <div class="a-item__params">
                            <div class="a-item__params-field">
                                <span>Телефон</span>
                                357 992 47 922
                            </div>
                            <div class="a-item__params-field">
                                <span>Skype</span>
                                alex_konstantinov
                            </div>
                            <div class="a-item__params-field">
                                <span>Сайт</span>
                                <a href="">alex_konstantinov.com</a>
                            </div>
                        </div>
                    </div>

                    <div class="a-item__link">
                        <a href="#">
                            <svg role="img" class="icon  icon--gray icon_mail">
                                <use xlink:href="icon/icon.svg#icon_mail"></use>
                            </svg>
                            Написать владельцу
                        </a>
                    </div>
                    <div class="a-item__link">
                        <a href="#">
                            <svg role="img" class="icon  icon--gray icon_likestroke">
                                <use xlink:href="icon/icon.svg#icon_likestroke"></use>
                            </svg>
                            В избранное
                        </a>
                    </div>
                    <div class="a-item__link">
                        <a href="#">
                            <svg role="img" class="icon  icon--gray icon_spam">
                                <use xlink:href="icon/icon.svg#icon_spam"></use>
                            </svg>
                            Пожаловаться
                        </a>
                    </div>
                    <div class="a-item__link a-item__link-orange">
                        <a href="#">
                            <svg role="img" class="icon  icon--orange icon_star">
                                <use xlink:href="icon/icon.svg#icon_star"></use>
                            </svg>
                            Поднять объявление
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="a-item__content">
            Современная 3-спальная квартира в престижном проекте, расположенном в центре города Лимассола. Проект состоит всего из шести роскошных 2- и 3-спальных квартир и пентхаусов. Этот жилой комплекс отражает великолепный дизайн и современный архитектурный стиль. Городские удобства, такие как продуктовые магазины, пекарни и рестораны находятся поблизости. Лучшие песчаные пляжи Лимассола и развлекательные заведения расположены в 5 минутах езды.
    </div>

    <div class="a-item__params">

        <div class="row">
            <div class="col-sm-3">
                <div class="a-item__params-field">
                    <span>Тип</span>
                    Недвижимость
                </div>
            </div>
            <div class="col-sm-3">
                <div class="a-item__params-field">
                    <span>Тип</span>
                    Недвижимость
                </div>
            </div>
            <div class="col-sm-3">
                <div class="a-item__params-field">
                    <span>Тип</span>
                    Недвижимость
                </div>
            </div>
            <div class="col-sm-3">
                <div class="a-item__params-field">
                    <span>Тип</span>
                    Недвижимость
                </div>
            </div>
        </div>


    </div>

    <div class="a-item__similar">
        <h2>Похожие объявления</h2>

        <div class="owl-carousel similar-posts">

            <div class="catalog-item">
                <div class="catalog-item__image">
                    <a href="#">
                        <img src="img/img4.png">

                        <svg role="img" class="icon icon--white icon_multiplyphotos">
                            <use xlink:href="icon/icon.svg#icon_multiplyphotos"></use>
                        </svg>

                    </a>
                </div>

                <a href="#" class="catalog-item__title">
                    Однокомнатная квартира
                </a>
                <div class="catalog-item__params">
                    <div class="catalog-item__params-city">Limassol</div>
                    <div class="catalog-item__params-date">2 month ago</div>
                    <div class="catalog-item__params-price">&euro; 30</div>
                    <div class="catalog-item__params-favorite">fav</div>
                </div>
            </div>

            <div class="catalog-item">
                <div class="catalog-item__image">
                    <a href="#">
                        <img src="img/img4.png">

                        <svg role="img" class="icon icon--white icon_multiplyphotos">
                            <use xlink:href="icon/icon.svg#icon_multiplyphotos"></use>
                        </svg>

                    </a>
                </div>

                <a href="#" class="catalog-item__title">
                    Однокомнатная квартира
                </a>
                <div class="catalog-item__params">
                    <div class="catalog-item__params-city">Limassol</div>
                    <div class="catalog-item__params-date">2 month ago</div>
                    <div class="catalog-item__params-price">&euro; 30</div>
                    <div class="catalog-item__params-favorite">fav</div>
                </div>
            </div>

            <div class="catalog-item">
                <div class="catalog-item__image">
                    <a href="#">
                        <img src="img/img4.png">

                        <svg role="img" class="icon icon--white icon_multiplyphotos">
                            <use xlink:href="icon/icon.svg#icon_multiplyphotos"></use>
                        </svg>

                    </a>
                </div>

                <a href="#" class="catalog-item__title">
                    Однокомнатная квартира
                </a>
                <div class="catalog-item__params">
                    <div class="catalog-item__params-city">Limassol</div>
                    <div class="catalog-item__params-date">2 month ago</div>
                    <div class="catalog-item__params-price">&euro; 30</div>
                    <div class="catalog-item__params-favorite">fav</div>
                </div>
            </div>

            <div class="catalog-item">
                <div class="catalog-item__image">
                    <a href="#">
                        <img src="img/img4.png">

                        <svg role="img" class="icon icon--white icon_multiplyphotos">
                            <use xlink:href="icon/icon.svg#icon_multiplyphotos"></use>
                        </svg>

                    </a>
                </div>

                <a href="#" class="catalog-item__title">
                    Однокомнатная квартира
                </a>
                <div class="catalog-item__params">
                    <div class="catalog-item__params-city">Limassol</div>
                    <div class="catalog-item__params-date">2 month ago</div>
                    <div class="catalog-item__params-price">&euro; 30</div>
                    <div class="catalog-item__params-favorite">fav</div>
                </div>
            </div>


        </div>

    </div>


    <div class="a-item__mobile">
        <div class="a-item__mobile-footer">
            <a  class="a-item__mobile-item a-item__mobile-item_green" href="javascript:;" data-toggle="mobile-phone-block">
                <svg role="img" class="icon icon--green icon-phone-stroke">
                    <use xlink:href="icon/icon.svg#icon_phone-stroke"></use>
                </svg>
                <span>
                    Показать контакты
                </span>

            </a>
            <a  class="a-item__mobile-item" href="#">
                <svg role="img" class="icon icon--gray icon-likestroke">
                    <use xlink:href="icon/icon.svg#icon_likestroke"></use>
                </svg>
                <span>
                    Добавить в избранное
                </span>
            </a>
        </div>

        <div class="a-item__contacts-content a-item__contacts-content_mobile" id="mobile-phone-block">
            <div class="a-item__contacts-content_name">
                Александр Константинов
            </div>
            <div class="a-item__contacts-content_date">
                На сайте с 1 апреля 1245
            </div>


            <div class="a-item__params">
                <div class="a-item__params-field">
                    <span>Телефон</span>
                    357 992 47 922
                </div>
                <div class="a-item__params-field">
                    <span>Skype</span>
                    alex_konstantinov
                </div>
                <div class="a-item__params-field">
                    <span>Сайт</span>
                    <a href="">alex_konstantinov.com</a>
                </div>
            </div>
        </div>
    </div>

</section>