<section class="newadd">

  <div class="newadd-title">
    <h2>Подать объявление</h2>
  </div>

  <div class="newadd-content">
<!-- Form add  -->
<form action="" class="newadd-form">

<div class="general-fields">

  <div class="general-field__container  field-name">
    <label>Ваше имя</label>
    <input type="text" name='your-name' class='greenStyle' placeholder="Ваше имя">
  </div>

  <div class="general-field__container  field-phone">
    <label>Мобильный телефон</label>
    <input type="text" placeholder="Мобильный телефон" name="your-phone" class='greenStyle'>
  </div>

  <div class="general-field__container  field-example">
    <label>Ваш емайл</label>
    <input type="text" placeholder="examplename@mail.ru" class='greenStyle' name="your-email">
  </div>

  <div class="general-field__container  field-selectcity">
    <label>Город</label>
    <select name="selectcity">
      <option value="Preview">Выберите город</option>
      <option value="Лимассол">Лимассол</option>
      <option value="Пафос">Пафос</option>
      <option value="Никосия">Никосия</option>
      <option value="Айя-Напа">Айя-Напа</option>
      <option value="Полис">Полис</option>
      <option value="Писсури">Писсури</option>
      <option value="Протарас">Протарас</option>
      <option value="Тоодос">Тоодос</option>

    </select>
  </div>
<!-- 
  <div class="general-field__container  field-selectregion">
    <label>Район</label>
    <select name="selectregion">
    <option value="Preview">Выберите район</option>
    <option value="Транспорт">Транспорт</option>
    <option value="Электроника">Электроника</option>
    <option value="Хобби и отдых">Хобби и отдых</option>
    <option value="Личные вещи">Личные вещи</option>
    <option value="Для дома и сада">Для дома и сада</option>
    <option value="Животные">Животные</option>
    <option value="Для бизнеса">Для бизнеса</option>
    <option value="Тоодос">Тоодос</option>
    </select>
  </div> -->

    <!-- Select CB  -->
    <div class="sec-field__cb">
      <!-- General Field Checkbox show email  -->
      <div class="general-field__container  field-showemail">
        
        <input type="checkbox" class='param-cb' id='show-email'>
      
        <label for="show-email"><span></span>Показать емайл</label>
    
      </div>

      <!-- General Field Checkbox show skype -->
      <div class="general-field__container  field-showskype">
        
        <input type="checkbox" class='param-cb' id='show-skype'>
      
        <label for="show-skype"><span></span>Показать skype</label>
    
      </div>

    </div>
    
</div>


<div class="add-detailes__title">
    <h3>Категория и данные о товаре </h3> 
    <div class="ads-detailes__open">
      <img src="img/subcategoryOpen.svg" alt="SubCategoryOpen" class="svg">
    </div>
    
    <div class="ads-detailes__closed  hidden">
      <img src="img/subcategoryClosed.svg" alt="Заказ" class="svg">
    </div>

  </div>


<div class="add-detailes">

  <div class="select-category__ads">
    <label>Категория</label>
    <div class="ads-category">
      <ul>
        <li class='ads-category__link'>Транспорт </li>
        <li class='ads-category__link'>Электроника </li>
        <li class='ads-category__link'> Работа </li>
        <li class='ads-category__link'>Услуги</li>
        <li class='ads-category__link'> Бизнес</li>
        <li class='ads-category__link'>Недвижимость </li>
        <li class='ads-category__link'>Дом и сад</li>
        <li class='ads-category__link'>Хобби и отдых</li>
        <li class='ads-category__link'>Животные</li>
        <li class='ads-category__link'>Личные вещи</li>
        <li class='ads-category__link'>Бесплатные вещи</li>
        <li class='ads-category__link'>Бюро находок</li>
      </ul>
    </div>

    <div class="ads-category__submenu">
      <ul>
        <li class="category-submenu__link">Автомобили</li>
        <li class="category-submenu__link">Грузовики и спецтехника</li>
        <li class="category-submenu__link">Мотоциклы и мототехника</li>
        <li class="category-submenu__link">Водный транспорт</li>
        <li class="category-submenu__link">Запчасти и аксессуары</li>
        <li class="category-submenu__link">Куплю машину, лодку, запчасти</li>
      </ul>      
    </div>

    <div class="category-submenu__drpd">
      <ul>
        <li class="submenu-drpd__link">Аренда автомобилей</li>
        <li class="submenu-drpd__link">Новые автомобили</li>
        <li class="submenu-drpd__link">Машины с пробегом</li>
      </ul>
    </div>

    <div class="category-drpd__last"> 
      <ul>
        <li class='drpd-last__link'>Последний выбор №1</li>
        <li class='drpd-last__link'>Последний выбор №2</li>
        <li class='drpd-last__link'>Последний выбор №3</li>
      </ul>
    </div>

  </div>


  <div class="detailes-ofselect__category">
      <div class="category-field">
        <label>Марка</label>
        <select name="Select-make" class='select-make' value='dsa'>
          <option value="preview">Выберите марку</option>
          <option class="any" value="Любая">Любая</option>
          <option value="AC">AC</option>
          <option value="Acura">Acura</option>
          <option value="Alfa Romeo">Alfa Romeo</option>
          <option value="Alpina">Alpina</option>
          <option value="Audi">Audi</option>
          <option value="Austin">Austin</option>
          <option value="Baw">Baw</option>
          <option value="Bentlet">Bentlet</option>
          <option value="BMW">BMW</option>
        </select>
      </div>

      <div class="category-field">
        <label>Модель</label>

        <select name="Select-model" class='select-model'>
          <option value="preview">Выберите модель</option>
          <option value="Model1">X1</option>
          <option value="Model2">X3</option>
          <option value="Model3">X4</option>
          <option value="Model4">X5</option>
          <option value="Model5">X6</option>
          <option value="Model6">M2</option>
          <option value="Model7">M3</option>
          <option value="Model8">M4</option>
          <option value="Model9">M5</option>
        </select>

      </div>

      <div class="category-field">
        <label>Год выпуска</label>
        <input type="text" placeholder='2017' class='greenStyle'>   
      </div>

      <div class="category-field">
        <label>Регистрационый знак</label>
        <input type="text" placeholder='AAA 123' class='greenStyle'>
      </div>

      <div class="category-field">
        <label>Пробег</label>
        <input type="text" placeholder='90 000 км' class='greenStyle'>
      </div>

    </div>


<div class="type-body">

  <div class="type-body__title">Тип кузова</div>

  <div class="type-fields">
  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__1">
    <label for="type-body__1"><img class="svg sedan"></img>Седан</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' name='bodyname' id="type-body__2">
    <label for="type-body__2"><img class="svg hetchback"></img>Хэтчбэк</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__3">
    <label for="type-body__3"><img class="svg universal"></img>Универсал</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__4">
    <label for="type-body__4"><img class="svg vnedorojnik"></img>Внедорожник</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__5">
    <label for="type-body__5"><img class="svg cabriolet"></img>Кабриолет</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__6">
    <label for="type-body__6"><img class="svg crosover"></img>Кроссовер</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__7">
    <label for="type-body__7"><img class="svg cupe"></img>Купе</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__8">
    <label for="type-body__8"><img class="svg limusin"></img>Лимузин</label>
  </div>


  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__9">
    <label for="type-body__9"><img class="svg minivan"></img>Минивэн</label>
  </div> 
  
  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__10">
    <label for="type-body__10"><img class="svg picap"></img>Пикап</label>
  </div>

  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__11">
    <label for="type-body__11"><img class="svg furgon"></img>Фургон</label>
  </div>

  <div class="type-field">
    <input type="radio" name='bodyname' id="type-body__12">
    <label for="type-body__12"><img class="svg microautobus"></img>Микроавтобус</label>
  </div>

    </div>

    <div class="transmission">
    <div class="transmission-field__title">Коробка передач</div>

    <div class="transmision-field">    
      <input type="radio" id='transmission-1' name='transmision-radio'>
      <label for="transmission-1">Механика</label>
    </div>

    <div class="transmision-field">
      <input type="radio" id='transmission-2' name='transmision-radio'>
      <label for="transmission-2">Автомат</label>
    </div>

    <div class="transmision-field">
      <input type="radio" id='transmission-3' name='transmision-radio'>
      <label for="transmission-3">Робот</label>
    </div>

    <div class="transmision-field">
      <input type="radio" id='transmission-4' name='transmision-radio'>
      <label for="transmission-4">SVT</label>
    </div>

  </div>
     
  <div class="color-field__title">Цвет</div> 

  <div class="color-fields">

    <div class="color-field">
      <input type="radio" id="color-1" name="color-radio">
      <label for="color-1"><span></span>Красный</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-2" name="color-radio">
      <label for="color-2"><span></span>Коричневый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-3" name="color-radio">
      <label for="color-3"><span></span> Оранжевый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-4" name="color-radio">
      <label for="color-4"><span></span> Бежевый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-5" name="color-radio">
      <label for="color-5"><span></span> Желтый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-6" name="color-radio">
      <label for="color-6"><span></span> Зеленый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-7" name="color-radio">
      <label for="color-7"><span></span> Синий</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-8" name="color-radio">
      <label for="color-8"><span></span> Темно-синий</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-9" name="color-radio">
      <label for="color-9"><span></span> Фиолетовый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-10" name="color-radio">
      <label for="color-10"><span></span>Пурпурный</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-11" name="color-radio">
      <label for="color-11"><span></span>Розовый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-12" name="color-radio">
      <label for="color-12"><span></span>Белый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-13" name="color-radio">
      <label for="color-13"><span></span>Серый</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-14" name="color-radio">
      <label for="color-14"><span></span>Черный</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-15" name="color-radio">
      <label for="color-15"><span></span>Золотой</label>
    </div>

    <div class="color-field">
      <input type="radio" id="color-16" name="color-radio">
      <label for="color-16"><span></span>Серебряный</label>
    </div>
  
  </div>

  <div class="range-field">

    <div class="range-title">Объем двигателя</div>
    <input type="text" id="textInput" value="">
    
   <input type="text" id="rangedouble" name='rangedouble' value="" onchange="updateTextInput(this.value)">
   <!-- <input type="text" id="iorange" name='ion-range' value=''  onchange="updateTextInput(this.value)">  -->
  </div>

 
</div>


<div class="sec-parametr__title">
    <h4>Дополнительные параметры</h4>

  <div class="sec-parametr__open">
      <img src="img/subcategoryOpen.svg" alt="Открыть" class="svg">
    </div>
    
    <div class="sec-parametr__closed  hidden">
      <img src="img/subcategoryClosed.svg" alt="Закрыть" class="svg">
    </div>
</div>


<div class="secundar-parametrs">
    <div class="sec-parametr__fields">

      <div class="sec-parametr__label">
          Климат-контроль
      </div>

      <div class="sec-parametr__field">
        <input type="radio" id='sec-radio__1' class="sec-parametr__radio" name="parametr-radio">
        <label for="sec-radio__1"><span></span>Без кондиционера</label>
      </div>

      <div class="sec-parametr__field">
        <input type="radio" id='sec-radio__2' class="sec-parametr__radio" name="parametr-radio">
        <label for="sec-radio__2"><span></span>Кондиционер</label>
      </div>

      <div class="sec-parametr__field">
        <input type="radio" id='sec-radio__3' class="sec-parametr__radio" name="parametr-radio">
        <label for="sec-radio__3"><span></span>Однозонный климат-контроль</label>
      </div>

      <div class="sec-parametr__field">
        <input type="radio" id='sec-radio__4' class="sec-parametr__radio" name="parametr-radio">
        <label for="sec-radio__4"><span></span>Мультизонный климат-контроль</label>
      </div>

    <div class="sec-field__cb">

      <div class="sec-parametr__checkbox">
        <input type="checkbox" class="param-cb" id="param-cb__1">
        <label for="param-cb__1"><span></span>Управление на руле</label>
      </div>

      <div class="sec-parametr__checkbox">
        <input type="checkbox" class="param-cb" id="param-cb__2">
        <label for="param-cb__2"><span></span>Атермальное покрытие</label>
      </div>

    </div>
   </div>
</div>
</div>
<div class="add-general">
  <div class="add-general__title">
    <h3>Описание и фото</h3>
  </div>
  <div class="add-fields">

    <div class="add-field__container title-add">

      <label>Заголовок</label>
      <input type="text" name='title-add'>

    </div>

    <div class="add-field__container description-add">
      <label>Текст объявления</label>
      <textarea name='description-add'></textarea>
    </div>

    <div class="add-field__container price-add">
      <label>Цена</label>
      <input type="text" name="price-add">
    </div>


    <div class="upload-photo__container">
      <div class="upload-container__title">
        <h4>Фото</h4>
      </div>
        <input type="file" name="files">

    </div>



  </div>

</div>

<div class="button-send__ads">
  <button class='btn btn-green'>

    <span class='button-send__icon'>
      <img src="img/buttonOkey.svg" alt="Готово" class="svg">
    </span>

    <span class="button-send__text">Готово</span>

  </button>
</div>

</form>
<!-- End form add  -->
  </div>

</section>
