<section class="breadcrumb">

  <ul>
    <li><a href="#">Главная</a> <span><img src="img/breadcrumbRight.svg" alt="След." class="svg"></span></li>
    <li><a href="#">Подать объявление </a><span><img src="img/breadcrumbRight.svg" alt="След." class="svg"></span></li>
    
  </ul>

</section>