<div class="catalog-sidebar">

    <div class="catalog-sidebar__top">


        <div class="sidebar-top__out">
            <a href="#">
                <div class="sidebar-out__icon">
                    <img src="img/sidebarOut.svg" alt="SidebarOut" class="svg">
                </div>

                <div class="sidebar-out__text">
                    <span>Выйти</span>
                </div>
            </a>
        </div>

        <div class="sidebar-top__left">
            <div class="sidebar-top__find">

                <h2>Найдено <span class="sidebar-find__number">2569</span> объявлений</h2>

            </div>

            <div class="sidebar-top__subscribe">

                <div class="subscribe-icon">
                    <img src="img/subscribeIcon.svg" alt="Subscribe" class="svg">
                </div>


                <div class="susbcribe-text"><a href="#">Подписаться на раздел</a></div>
            </div>

            <div class="sidebar-top__right">

                <div class="filter-for__md">

                    <img src="img/filterIcon.svg" alt="Фильтр" class="svg">

                </div>

            </div>

        </div>


    </div>
    <div class="sidebar-bottom__small">
        <div class="sidebar-small__title"><h2>Рассширенный<br> поиск</h2></div>
        <div class="close-sidebar__small">
            <img src="img/closePopupIcon.svg" alt="Закрыть" class="svg">
        </div>
        <div class="catalog-sidebar__bottom">

            <form class="find-ads">

                <div class="find-select__type">

                    <select>
                        <option value="Аренда">Аренда</option>
                        <option value="Покупка">Покупка</option>
                        <option value="Продажа">Продажа</option>
                        <option value="Обмен">Обмен</option>
                    </select>

                </div>


                <div class="find-select__category">

                    <select>
                        <option value="Квартиры">Квартиры</option>
                        <option value="Комнаты">Комнаты</option>
                        <option value="Дома, виллы, коттеджи">Дома, виллы, коттеджи</option>
                        <option value="Земельные участки">Земельные участки</option>
                        <option value="Коммерческая недвижимость">Коммерческая недвижимость</option>
                        <option value="Недвижимость за рубежом">Недвижимость за рубежом</option>
                        <option value="Земельные участки за рубежом">Земельные участки за рубежом</option>
                        <option value="Коммерческая недвижимость за рубежом">Коммерческая недвижимость за рубежом
                        </option>

                    </select>

                </div>

                <div class="find-select__city">
                    <div class="multiselect">
                        <div class="selectBox" onclick="showCity()">
                            <select class='sl-search' id='SelectCheckActive'>
                                <option id='cityListActive'>Все города</option>
                            </select>
                            <div class="overSelect"></div>
                        </div>
                        <div id="checkboxes-city">
                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-1__active"
                                   value='Лимассол'/>
                            <label for="city-1__active"><span></span>Лимассол</label>

                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-2__active"
                                   value='Пафос'/>
                            <label for="city-2__active"><span></span>Пафос</label>

                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-3__active"
                                   value='Никосия'/>
                            <label for="city-3__active"><span></span>Никосия</label>


                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-4__active"
                                   value='Айя-Напа'/>
                            <label for="city-4__active"><span></span>Айя-Напа</label>


                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-5__active"
                                   value='Полис'/>
                            <label for="city-5__active"><span></span>Полис</label>


                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-6__active"
                                   value='Писсури'/>
                            <label for="city-6__active"><span></span>Писсури</label>


                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-7__active"
                                   value='Протарас'/>
                            <label for="city-7__active"><span></span>Протарас</label>


                            <input type="checkbox" class='sl-chb__active' al-model='city' id="city-8__active"
                                   value='Тоодос'/>
                            <label for="city-8__active"><span></span>Тоодос</label>

                        </div>
                    </div>


                </div>

                <div class="find-price">
                    <div class="find-price__title">
                        <div class="price-title__text">Любая цена</div>
                        <div class="findprice__open">
                            <img src="img/arrowdown.svg" alt="Внизу" class="svg">
                        </div>
                    </div>
                    <div class="find-price__fields  hidden">

                        <div class="find-price__field">
                            <label>От</label>
                            <input type="text" id='min-price' placeholder='От 2 000 €'>
                        </div>

                        <div class="find-price__field">
                            <label>До</label>
                            <input type="text" id='max-price' placeholder='До 8 000 €'>
                        </div>

                    </div>
                </div>


                <div class="show-all__ads">

                    <button>
        <span class="button-icon">
          <img src="img/loupe.svg" class="svg">
        </span>

                        <span class="button-text">Показать 99+ объявлений</span>

                    </button>

                </div>

            </form>

        </div>
    </div>
    <div class="catalog-sidebar__category">

        <div class="find-category__content">

            <div class="find-grid">
                <div class="find-category__item">
                    <div class="find-category__title">
                        <div class="find-title__icon">
                            <img src="img/transportIcon.svg" alt="Транспорт" class="svg">
                        </div>
                        <h3>Транспорт </h3>
                    </div>
                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="find-grid">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">

                            <img src="img/electronicIcon.svg" alt="Электроника" class="svg">

                        </div>

                        <h3>Электроника </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid red-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/workIcon.svg" alt="Работа" class="svg">
                        </div>

                        <h3>Работа </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid red-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/servicesIcon.svg" alt="Услуги" class="svg">
                        </div>

                        <h3>Услуги </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииFor</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="find-grid green-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/propertyIcon.svg" alt="Недвижимость" class="svg">
                        </div>

                        <h3>Недвижимость </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid green-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/houseIcon.svg" alt="Дом и сад" class="svg">
                        </div>

                        <h3>Дом и сад </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="find-grid red-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/bussinesIcon.svg" alt="Бизнес" class="svg">
                        </div>

                        <h3>Бизнес </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid gray-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/freeStuffIcon.svg" alt="Бесплатные вещи" class="svg">
                        </div>

                        <h3>Бесплатные вещи </h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid green-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/hobbyIcon.svg" alt="Хобби и отдых" class="svg">
                        </div>

                        <h3>Хобби и отдых</h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="find-grid green-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/animalsIcon.svg" alt="животные" class="svg">
                        </div>

                        <h3>Животные</h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>

            <div class="find-grid green-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/thingsIcon.svg" alt="Личные вещи" class="svg">
                        </div>

                        <h3>Личные вещи</h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


            <div class="find-grid gray-icon">

                <div class="find-category__item">


                    <div class="find-category__title">

                        <div class="find-title__icon">
                            <img src="img/lostAndFoundIcon.svg" alt="Бюро находок" class="svg">
                        </div>

                        <h3>Бюро находок</h3>

                    </div>

                    <div class="find-category__dropdown hidden">
                        <div class="find-dropdown__content">
                            <ul>
                                <li><a href="#"><a href='#'><span class="title">Все вакансииTen+2</span></a>
                                    <span class="number">30 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span
                                        class="title">Розничная торгавля / продажи / закупки</span></a>
                                    <span class="number">5 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                                    <span class="number">8 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                                    <span class="number">4 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                                    <span class="number">1 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                                <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                                    <span class="number">2 сегодня</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>


</div>