<div class="catalog-content  shop-content">

    <div class="catalog-content__icons">

      <div class="filter-mobile">

        <span class="sort">Сортировка</span>
      <div class="catalog-filter">

        <div class="catalog-to__block">
          <img src="img/tile.svg" alt="Tile" class="svg">
        </div>


        <div class="catalog-to__list">
          <img src="img/list.svg" class='svg' alt="toList">
        </div>


        <div class="catalog-to__date">
          <select>
            <option value="По дате">По дате</option>
            <option value="Сначала новые">Сначала новые</option>
            <option value="Сначала старые">Сначала старые</option>
          </select>
        </div>


        <div class="catalog-to__price">

          <select>
            <option value="По цене">По цене</option>
            <option value="Сначала дорогие">Сначала дорогие</option>
            <option value="Сначала дешевые">Сначала дешевые</option>           
          </select>

        </div>



      </div>
      </div>

      <div class="catalog-page">

        Страница <span class="catalog-page__curent"><a href="#">1</a></span> из <span class="catalog-page__total"><a href="#">115</a></span>

      </div>

    </div>


    <div class="principaly-newads__content">
      <div class="principaly-newads__container vip-ads  highlighting-ads">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png">
        
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>

        <div class="vip-ads__title">
          vip
        </div>

        <div class="highlighting-gradient"></div>

      </a>
      </div>
      
      <div class="principlay-newads__all">
        <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
        <div class="principaly-newads__info">
          <div class="principaly-info__city">Лимассол</div>
          <div class="principaly-info__date">26 Aпр 18:04</div>
        </div>
        <div class="pricinaply-newads__bottom">
          <div class="newads-bottom__price">3 000 €</div>

          <div class="newads-bottom__like">
            
          </div>
        </div>
      </div>
    </div>


    <div class="principaly-newads__container vip-ads ">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>

        <div class="vip-ads__title">
          vip
        </div>

      </a>
      </div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container vip-ads ">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>

        <div class="vip-ads__title">
          vip
        </div>

      </a>
      </div>

      <div class="principlay-newads__all">

      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>
    <div class="principaly-newads__container  premium-container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>
      </a>
      </div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container  premium-container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>
      </a>
      </div>

      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container  premium-container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Посмотреть все" class="svg">
        </div>
      </a>
      </div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container highlighting-ads">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png">
      
        <div class="highlighting-gradient"></div>
      
      </a></div>
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
      </div>
    </div>

  

</div>

<div class="bottom-partner">

  <div class="bottom-partner__container">
  
    <img src="img/partner_1.jpg" alt="Наши партнеры">
  
  </div>
  <div class="bottom-partner__container">
  
    <img src="img/partner_2.jpg" alt="Наши партнеры">
  
  </div>
  <div class="bottom-partner__container">
  
    <img src="img/partner_3.jpg" alt="Наши партнеры">
  
  </div>

</div>


<div class="social-pagination">

<div class="catalog-bottom__social">
  
  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"><img src="img/catalogFb.svg" alt="FaceBook" class="svg">
    </div>
    <div class="catalog-social__number">55</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/gg-plus.svg" alt="Icon google plus" class="svg">
    </div>
    <div class="catalog-social__number">12</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"><img src="img/catalogTw.svg" alt="Twitter" class="svg">
    </div>
    <div class="catalog-social__number">7</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"><img src="img/catalogIn.svg" alt="Catalog IN" class="svg">
    </div>
    </a>
  </a>
  </div>

</div>

<div class="catalog-pagination">

    <ul>
      <li><a class='curentPage' href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#" class="all-page__catalog">...</a></li>
      <li><a href="#"><div class="catalog-pagination__all">115</div></a></li>
    </ul>   

</div>

</div>

</div>