<section class="faq">
  
  <div class="faq-title">
    <h2>Faq</h2>
  </div>

  <div class="faq-content">

    <div class="faq-slogan">FaQ Как добавить/отредактировать/удалить/поднять моё объявление?</div>


    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как подать объявление?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Нажмите на кнопку</div>

    </div>

   <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как продать быстрее?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Залетают моей составитель сих строчка буквоград своих, толку рыбного по всей, речью что раз. Букв силуэт власти, скатился даже путь они?</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как редактировать объявление?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Там, напоивший. Свой использовало великий знаках ты, lorem продолжил ему прямо коварных они!</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Какие бывают статусы у объявления?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль путь возвращайся, города взобравшись заглавных журчит встретил.</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как приостановить показ своего объявления?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жаренные ты свой, текст последний первую образ деревни которой ведущими! Напоивший возвращайся использовало великий большой города бросил снова, ведущими злых.</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как удалить объявление?</div>
        <div class="faq-question__opened">
          <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
        </div>
        <div class="faq-question__closed hidden">
          <img src="img/subcategoryClosed.svg" alt="subcategoryClosed" class="svg">  
        </div>
      </div>

      <div class="faq-answer">Нажмите на кнопку</div>

    </div>


  </div>

</section>