<section class="find-category">
  <div class="find-category__title">
    <h2>Поиск по категориям </h2>
  </div>

<!-- Категории для больших экранов -->
<div class="find-category__large"> 

  <!-- Контейнер для всех категории -->
  <div class="find-category__content">    

    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №1-->
      <div class="find-grid"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/transportIcon.svg" alt="Транспорт" class="svg"></div>
            <h3>Транспорт </h3>
          </div>
        </div>
        <!-- DropDown для категория №1 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование88</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование77</span></a>
                <span class="number">3 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование99</span></a>
                <span class="number">1 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №1  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №2 -->
      <div class="find-grid"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/electronicIcon.svg" alt="Electronic Icon" class="svg"></div>
            <h3>Электроника </h3>
          </div>
        </div>
        <!-- DropDown для категория №2 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №2  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №3 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/workIcon.svg" alt="Работа" class="svg"></div>
            <h3>Работа</h3>
          </div>
        </div>   
        <!-- DropDown для категория №3 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №3  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №4 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/servicesIcon.svg" alt="Услуги" class="svg"></div>
            <h3>Услуги </h3>
          </div>
        </div>  
        <!-- DropDown для категория №4 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFour</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №4  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->


    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №5-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/propertyIcon.svg" alt="Недвижимость" class="svg"></div>
            <h3>Недвижимость </h3>
          </div>
        </div>  
        <!-- DropDown для категория №5 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №5  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №6 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/houseIcon.svg" alt="Дом и сад" class="svg"></div>
            <h3>Дом и сад</h3>
          </div>
        </div>  
        <!-- DropDown для категория №6 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №6  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №7 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/bussinesIcon.svg" alt="Бизнес" class="svg"></div>
            <h3>Бизнес</h3>
          </div>
        </div>  
        <!-- DropDown для категория №7 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №7  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №8 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/freeStuffIcon.svg" alt="Бесплатные вещи" class="svg"></div>
            <h3>Бесплатные вещи </h3>
          </div>
        </div> 
        <!-- DropDown для категория №8 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №8  -->  
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->


    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №9-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/hobbyIcon.svg" alt="Хобби и отдых" class="svg"></div>
            <h3>Хобби и отдых </h3>
          </div>
        </div>  
        <!-- DropDown для категория №9 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №9  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №10 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/animalsIcon.svg" alt="Животные" class="svg"></div>
            <h3>Животные</h3>
          </div>
        </div>   
        <!-- DropDown для категория №10 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №10  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №11 -->
      <div class="find-grid  green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/thingsIcon.svg" alt="Личные вещи" class="svg"></div>
            <h3>Личные вещи</h3>
          </div>
        </div> 
        <!-- DropDown для категория №11 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №11  -->  
      </div>        
      <!-- END категория -->

      <!-- Категория №12 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/lostAndFoundIcon.svg" alt="Бюро находок" class="svg"></div>
            <h3>Бюро находок</h3>
          </div>
        </div> 
        <!-- DropDown для категория №12 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансиTen+2</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №12  -->  
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->



  </div> 
  <!-- END Контейнер для всех категории   -->

</div> 
<!-- END Категории для больших экранов  -->



<!-- Категории для средних экранов  -->
<div class="find-category__small">

  <!-- Контейнер для всех категории -->
  <div class="find-category__content">    


    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
      
      <!-- Категория №1-->
      <div class="find-grid"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/transportIcon.svg" alt="Транспорт" class="svg"></div>
            <h3>Транспорт </h3>
          </div>
        </div>   
        <!-- DropDown для категория №1 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №1  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №2 -->
      <div class="find-grid"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/electronicIcon.svg" alt="Электроника" class="svg"></div>
            <h3>Электроника </h3>
          </div>
        </div>  
        <!-- DropDown для категория №2 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №2  --> 
      </div>        
      <!-- END категория -->

    </div>
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №3 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/workIcon.svg" alt="Работа" class="svg"></div>
            <h3>Работа</h3>
          </div>
        </div>   
        <!-- DropDown для категория №3 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №3  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №4 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/servicesIcon.svg" alt="Services Icon" class="svg"></div>
            <h3>Услуги </h3>
          </div>
        </div>
        <!-- DropDown для категория №4 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFour</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №4  -->   
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->


    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №5-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/propertyIcon.svg" alt="Недвижимость" class="svg"></div>
            <h3>Недвижимость </h3>
          </div>
        </div>  
        <!-- DropDown для категория №5 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №5  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №6 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/houseIcon.svg" alt="Дом и сад" class="svg"></div>
            <h3>Дом и сад</h3>
          </div>
        </div>  
        <!-- DropDown для категория №6 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №6  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №7 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/bussinesIcon.svg" alt="Бизнес" class="svg"></div>
            <h3>Бизнес</h3>
          </div>
        </div>  
        <!-- DropDown для категория №7 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №7  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №8 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/freeStuffIcon.svg" alt="Бесплатные вещи" class="svg"></div>
            <h3>Бесплатные вещи </h3>
          </div>
        </div>  
        <!-- DropDown для категория №8 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №8  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №9-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/hobbyIcon.svg" alt="хобби и отдых" class="svg"></div>
            <h3>Хобби и отдых </h3>
          </div>
        </div>
        <!-- DropDown для категория №9 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №9  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №10 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/animalsIcon.svg" alt="животные" class="svg"></div>
            <h3>Животные</h3>
          </div>
        </div>  
        <!-- DropDown для категория №10 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №10  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №11 -->
      <div class="find-grid  green-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/thingsIcon.svg" alt="Личные вещи" class="svg"></div>
            <h3>Личные вещи</h3>
          </div>
        </div>
        <!-- DropDown для категория №11 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №11  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №12 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item">
          <div class="find-category__title">
            <div class="find-title__icon"><img src="img/lostAndFoundIcon.svg" alt="Бюро находок" class="svg"></div>
            <h3>Бюро находок</h3>
          </div>
        </div>   
        <!-- DropDown для категория №12 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+2</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №12  -->
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->
  
  </div>
  <!--END Контайнер для всех категории  -->


</div>
<!--END Категории для маленьких экранов  -->

</section>
