<section class="footer-information">

  <div class="footer-information__left">
    <div class="bottom-left__links">
      <ul>
        <li><a href="#">Объявления</a></li>
        <li><a href="#">Акции и бонусы</a></li>
        <li><a href="#">Информация</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-information__right">
    <div class="bottom-left__socials">
      <a href="#" class="fb"><img src="img/fb.svg" alt="SVG" class="svg"></a>
      <a href="#" class="gg-plus"><img src="img/gg-plus.svg" alt="Svg item" class="svg"></a>
    </div>
  </div>

</section>