<header class="header">

    <div class="header-content__left">

        <div class="header-logo">
            <a href="main.html">
                <img src="img/logo.png" alt="Cyprus BAZAR">
            </a>
        </div>

        <div class="header-free__ads">

            <a href="#">
                <span>Бесплатные</span>
                <span>объявления</span>
            </a>

        </div>

        <div class="header-icon__apple">
            <a href="#">
                <img src="img/apple.svg" alt="Apple Icon" class="svg">
            </a>
        </div>

        <div class="header-icon__market">
            <a href="#">
                <img src="img/market-header.svg" alt="Market SVG" class="svg">
            </a>
        </div>

        <div class="header-language selectbox__noborder">
            <select id="current_language">
                <option value="RU">RU</option>
                <option value="EN">EN</option>
                <option value="GR">GR</option>
            </select>
        </div>


    </div>

    <div class="header-content__right">


        <div class="header-likes">

            <a href="#">

                <div class="header-likes__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></div>
                <span class="header-likes__number">15</span>

            </a>

        </div>


        <div class="auth">

            <div class="auth-login__yes" opened='0'>

                <a href="#">

                    <div class="auth-login__icon">
                        <img src="img/authlogin.svg" alt="AuthLogin" class="svg">
                    </div>

                    <div class="auth-login__name">
                        <span>Константин</span>
                    </div>

                </a>

            </div>

            <div class="auth-login__no hidden">
                <a href="#">Войти</a>
            </div>

        </div>

        <div class="add-ads">

            <button class="add-ads btn btn--green">
                <a href="add.html">
                    <span class="add-plus"><img src="img/add.svg" alt="AddAds" class="svg"></span>
                    <span>Подать объявления</span>
                </a>
            </button>

        </div>

        <div class="mobile-burger">
            <img src="img/mobileBurger.svg" alt="MobileBurgerIcon" class="svg">
        </div>


    </div>


</header>