<section class="index-image">
<!--Index image Content  -->
  <div class="index-image__content">
    <!--Index image title  -->
    <div class="index-image__title">
      <h2>Продавайте быстро</h2>
    </div>
    <!-- End Index image tilte  -->

    <!-- Index image Paragraph  -->
    <div class="index-image__paragraph">
      <p>Больше 15 000 покупателей и 500 просмотров в день</p>
    </div>
    <!-- End index image paragraph  -->

    <!-- Index Image button  -->
    <div class="index-image__button">
        <button class="btn btn--orange">
          <a href="add.html">
            <span class="add-plus"><img src="img/add.svg" alt="AddAds" class="svg"></span> 
            <span>Подать объявления</span>
          </a>
        </button>
    </div>
    <!-- End Index Image button  -->
  </div>
<!--End Image Content  -->
</section>