<section class="my-advertisement"> 

  <!-- My ads title  -->
  <div class="my-ads__titlebig">
    
    <!-- My ads title Left  -->
    <div class="add-title__left">
      <h2>Мои объявления</h2>
    </div>
    <!-- End my ads title Left  -->

    <!-- My ads title right  -->
    <div class="add-title__right">

      <!-- Сортировка по фильтру   -->

      <div class="catalog-to__filter">
        <select>
          <option value="Фильтр по статусу">Фильтр по статусу</option>
          <option value="Опубликованные">Опубликованные</option>
          <option value="Неопубликованные">Неопубликованные</option>
        </select>
      </div>


      <!-- Сортировка по дате  -->
      <div class="catalog-to__date">
          <select>
            <option value="По дате">По дате</option>
            <option value="Сначала новые">Сначала новые</option>
            <option value="Сначала старые">Сначала старые</option>
          </select>
        </div>

      <!-- Сортировка по цене  -->
        <div class="catalog-to__price">

          <select>
            <option value="По цене">По цене</option>
            <option value="Сначала дорогие">Сначала дорогие</option>
            <option value="Сначала дешевые">Сначала дешевые</option>           
          </select>

        </div>

    </div>

  </div>

  <div class="my-ads__content">

    <div class="my-ads__container">

      <div class="my-ads__image">

        <img src="img/img1.png" alt="Мои объявления">

        <div class="ads-image__more">

          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

        </div>

      </div>

      <div class="my-ads__title">
        <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
      </div>


      <div class="my-ads__information">

        <div class="ads-information__city">Лимассол></div>
        <div class="ads-information__date">26 Aпр 18:04</div>

      </div>


      <div class="my-ads__price">3 000 €</div>

      <div class="ads-option__price">

        <div class="ads__actions">
        <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
          <span>Действие</span>
        </div>

        <div class="ads-option__dropdown">

          <ul>
            <li><a href='#'>
              <span class="actions-edit__icon">
                <img src="img/editIcon.svg" alt="Редактировать" class="svg">
              </span>
              <span>Редактировать</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-hide__icon">
                <img src="img/hide.svg" alt="Svg icon" class="svg">
              </span>
              <span>Скрыть из поиска</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-delete__icon">
                <img src="img/delete.svg" alt="Svg icon" class="svg">
              </span>
              <span>Удалить</span>
            </a></li>

            <li><a href='#'>
            <span class="actions-up__icon">
              <img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg">
            </span>
              <span>Поднять объявления</span>
            </a></li>
          
          </ul>

        </div>

        <div class="my-ads__price">3 000 €</div>

      </div>

      <div class="my-ads__actions">

        <div class="ads-actions__edit"><a href="#">
        
          <span class="actions-edit__icon"><img src="img/editIcon.svg" alt="Редактировать" class="svg"></span>
          <span class="actions-edit__text">Редактировать</span>
        
        </a></div>

        <div class="ads-actions__hide"><a href="#">

          <span class="actions-hide__icon"><img src="img/hide.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-hide__text">Скрыть из поиска</span>

        </a></div>

        <div class="ads-actions__delete"><a href="#">
        
          <span class="actions-delete__icon"><img src="img/delete.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-delete__text">Удалить</span>
          
        </a></div>

        <div class="ads-actions__up"><a href="#">
          
          <span class="actions-up__icon"><img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg"></span>
          <span class="actions-up__text">Поднять объявления</span>
          
        </a></div>


      </div>



    </div>


        <div class="my-ads__container">

      <div class="my-ads__image">

        <img src="img/img1.png" alt="Мои объявления">


        <div class="ads-image__more">

          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

        </div>

      </div>

      <div class="my-ads__title">
        <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
      </div>


      <div class="my-ads__information">

        <div class="ads-information__city">Лимассол></div>
        <div class="ads-information__date">26 Aпр 18:04</div>

      </div>


      <div class="my-ads__price">3 000 €</div>

      <div class="ads-option__price">

        <div class="ads__actions">
          <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
          <span>Действие</span>
        </div>

        <div class="ads-option__dropdown">

          <ul>
            <li><a href='#'>
              <span class="actions-edit__icon">
                <img src="img/editIcon.svg" alt="Редактировать" class="svg">
              </span>
              <span>Редактировать</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-hide__icon">
                <img src="img/hide.svg" alt="Svg icon" class="svg">
              </span>
              <span>Скрыть из поиска</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-delete__icon">
                <img src="img/delete.svg" alt="Svg icon" class="svg">
              </span>
              <span>Удалить</span>
            </a></li>


            <li><a href='#'>
            <span class="actions-up__icon">
              <img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg">
            </span>
              <span>Поднять объявления</span>
            </a></li>

          </ul>

        </div>

        <div class="my-ads__price">3 000 €</div>

      </div>

      <div class="my-ads__actions">

        <div class="ads-actions__edit"><a href="#">
        
          <span class="actions-edit__icon"><img src="img/editIcon.svg" alt="Редактировать" class="svg"></span>
          <span class="actions-edit__text">Редактировать</span>
        
        </a></div>

        <div class="ads-actions__hide"><a href="#">

          <span class="actions-hide__icon"><img src="img/hide.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-hide__text">Скрыть из поиска</span>

        </a></div>

        <div class="ads-actions__delete"><a href="#">
        
          <span class="actions-delete__icon"><img src="img/delete.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-delete__text">Удалить</span>
          
        </a></div>

        <div class="ads-actions__up"><a href="#">
          
          <span class="actions-up__icon"><img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg"></span>
          <span class="actions-up__text">Поднять объявления</span>
          
        </a></div>


      </div>



    </div>

        <div class="my-ads__container">

      <div class="my-ads__image">

        <img src="img/img1.png" alt="Мои объявления">

        <div class="ads-image__more">

          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

        </div>

      </div>

      <div class="my-ads__title">
        <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
      </div>


      <div class="my-ads__information">

        <div class="ads-information__city">Лимассол></div>
        <div class="ads-information__date">26 Aпр 18:04</div>

      </div>


      <div class="my-ads__price">3 000 €</div>

      <div class="ads-option__price">

        <div class="ads__actions">
          <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
          <span>Действие</span>
        </div>

        <div class="ads-option__dropdown">

          <ul>
            <li><a href='#'>
              <span class="actions-edit__icon">
                <img src="img/editIcon.svg" alt="Редактировать" class="svg">
              </span>
              <span>Редактировать</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-hide__icon">
                <img src="img/hide.svg" alt="Svg icon" class="svg">
              </span>
              <span>Скрыть из поиска</span>
            </a></li>

            <li><a href='#'>
              <span class="actions-delete__icon">
                <img src="img/delete.svg" alt="Svg icon" class="svg">
              </span>
              <span>Удалить</span>
            </a></li>

            <li><a href='#'>
            <span class="actions-up__icon">
              <img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg">
            </span>
              <span>Поднять объявления</span>
            </a></li>

            
          </ul>

        </div>

        <div class="my-ads__price">3 000 €</div>

      </div>

      <div class="my-ads__actions">

        <div class="ads-actions__edit"><a href="#">
        
          <span class="actions-edit__icon"><img src="img/editIcon.svg" alt="Редактировать" class="svg"></span>
          <span class="actions-edit__text">Редактировать</span>
        
        </a></div>

        <div class="ads-actions__hide"><a href="#">

          <span class="actions-hide__icon"><img src="img/hide.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-hide__text">Скрыть из поиска</span>

        </a></div>

        <div class="ads-actions__delete"><a href="#">
        
          <span class="actions-delete__icon"><img src="img/delete.svg" alt="Svg icon" class="svg"></span>
          <span class="actions-delete__text">Удалить</span>
          
        </a></div>

        <div class="ads-actions__up"><a href="#">
          
          <span class="actions-up__icon"><img src="img/actionUpIcon.svg" alt="Поднять объявления" class="svg"></span>
          <span class="actions-up__text">Поднять объявления</span>
          
        </a></div>


      </div>



    </div>


  </div>

</section>