<section class="my-bonuses"> 

  <div class="my-bonuses__title">
    <h2>Мои бонусы</h2>
  </div>

  <div class="my-bonuses__content">

<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

        <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>

<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

        <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>


<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

      <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><img src="img/actionIcon.svg" alt="Action Icon" class="svg"></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>





  </div>

</section>