<section class="my-operations">

  <div class="my-operations__title">
    <h2>Мои операции</h2>
  </div>

  <div class="my-operations__slogan">
    В этом разделе вы можете пополнить баланс вашего счета а также просмотреть выполненные операции.
  </div>

  <div class="my-operations__add">

    <form class="add-balance">

      <label for="balance">Пополнить баланс</label>
      <input type="text" id="balance" placeholder="Введите сумму">
      <button class='btn btn-green'>Пополнить баланс</button>
    </form>

    <div class="my-balance">

      <span class="label-balance">Мой баланс</span>
      <span class="my-balance__price">€ 380 000</span>

    </div>

  </div>


  <div class="bazar-table  bazar-table__operation">

<table class='bazar-table__top  operation-table__top'>

  <tr>
    <td>№</td>
    <td>Цена</td>
    <td>Дата</td>
    <td>Покупки</td>
    <td>ID</td>
  </tr>
</table>
<table  class='bazar-table__bottom operation-table__bottom'>
  <tr>
    <td>27087</td>
    <td>-2 €</td>
    <td>27 Дек 2016</td>
    <td>Цвет</td>
    <td>2HNjstzzwX</td>
  </tr>

  <tr>
    <td>25618</td>
    <td>-2 €</td>
    <td>27 Дек 2016</td>
    <td>Цвет</td>
    <td>CevLWgWWR4</td>
  </tr>

  <tr>
    <td>16977</td>
    <td>-5 €</td>
    <td>23 Dec 2016</td>
    <td>VIP, премиум, цвет, поднять</td>
    <td>Do1ecnzPdd</td>
  </tr>
</div>
</table>


  </div>

</section>