<section class="new-item">

  <div class="new-item__title">
    <h2>Продам трехспальные апартаменты в центре Лимассола</h2>
  </div>
<!-- Разметка для мобильного  -->
  <div class="new-item__smallInformation">
    
    <div class="item-smallInformation__left">
      <div class="item-contacts__title">
        <div class="item-contacts__icon">
          <img src="img/phoneContact.svg" alt="PhoneContact" class="svg">
      </div>

      <div class="item-contacts__text">Показать контакты</div>
      </div>

      <div class="item-contacts__dropdrown">

       
        <div class="item-dropdown__name">
          <span class="name">Александр</span> <span class="subname"> Константинов</span>
        </div>

        <div class="item-dropdown__registr">
          На сайте с 25 Апр 2017
        </div>

        <div class="item-dropdown__phone">
          
          <span class="label">Телефон</span>
          
          <span><a href="tel:357 994 593 23">357 994 593 23</a></span>

        </div>

        <div class="item-dropdown__skype">

          <span class="label">Skype</span>
          
          <span><a href="skype:Alex_Konstantinov">Alex_Konstantinov</a></span>

        </div>

        <div class="item-dropdown__site">

          <span class="label">Сайт</span>
          
          <span><a href="alex_konstantinov.com">alex_konstantinov.com</a></span>

        </div>

      </div>

    </div>
    <div class="item-smallInformation__right">
      <div class="new-item__icon">
          <img src="img/likestroke.svg" alt="Svg icon" class="svg">
        </div>
      <div class="new-item__text">
        Добавить в избранное
      </div>
    </div>

  </div>

  <!-- END разметка мобильного  -->

  <div class="new-item__information">

    <div class="new-item__city">
      Лимассол
    </div>


    <div class="new-item__date">
      26 Aпр 18:04
    </div>


    <div class="new-item__statiq">
      <span class="item-statiq__everday">34</span> просмотра сегодня, всего <span class="item-statiq__total">238</span>
    </div>


    <div class="new-item__number">
      № 34711
    </div>

  </div>


  <div class="new-item__general">

    <!-- Item Photo  -->

    <div class="new-item__photo">
      <!--Owl Carousel Image  -->
      <div class="owl-carousel" data-slider-id="1">
        <div><img src="img/img1.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img3.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img1.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img1.png" alt="Img"></div>
      </div>
      <!-- End Owl Carousel Image  -->

      <!--Owl Carousel Thumbs  -->
      <div class="owl-thumbs__container swiper-for-thumbs">
        <div class="owl-thumbs  swiper-wrapper" data-slider-id="1">
          <button class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img3.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swiper-slide"><img src="img/img1.png" alt="Img"></button>
        </div>
      </div>
      <!-- ENd owl Carousel Thumbs  -->

    </div>

    <!--End Item Photo  -->




    <div class="new-item__price">

      <div class="item-price__euro">
          &euro; 380 000
      </div>

      <div class="item-price__detailes">

        <div class="price-detailes__container">

          <div class="price-detailes__type">Тип</div>

          <div class="price-detailes__answer">Недвижимость</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Город</div>

          <div class="price-detailes__answer">Лимассол</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Район</div>

          <div class="price-detailes__answer">Рекреационный центр отдыха</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Спальни</div>

          <div class="price-detailes__answer">3 спальни и диван в гостиной</div>

        </div>

        <div class="price-detailes__all">

          <div class="detailes-all__title">

            <div class="detailes-all__text">Смотреть все параметры</div>

            <div class="detailes-all__opened">
              <img src="img/subcategoryOpen.svg" alt="SubCategoryOpen" class="svg">
            </div>

            <div class="detailes-all__closed  hidden">
              <img src="img/subcategoryClosed.svg" alt="Открыть" class="svg">
            </div>

          </div>


          <div class="item-detailes__other">

            <div class="price-detailes__container">

          <div class="price-detailes__type">Тип</div>

          <div class="price-detailes__answer">Недвижимость</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Город</div>

          <div class="price-detailes__answer">Лимассол</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Район</div>

          <div class="price-detailes__answer">Рекреационный центр отдыха</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Спальни</div>

          <div class="price-detailes__answer">3 спальни и диван в гостиной</div>

        </div>

          </div>

        </div>


      </div>


    </div>

    <div class="new-item__contacts">

      <div class="item-contacts__title">
        <div class="item-contacts__icon">
          <img src="img/phoneContact.svg" alt="Показать контакты" class="svg">
      </div>

        <div class="item-contacts__text">Показать контакты</div>
      </div>

      <div class="item-contacts__dropdrown">

        
        <div class="item-dropdown__name">
          <span class="name">Александр</span> <span class="subname"> Константинов</span>
        </div>



        <div class="item-dropdown__registr">
          На сайте с 25 Апр 2017
        </div>



        <div class="item-dropdown__phone">
          
          <span class="label">Телефон</span>
          
          <span><a href="tel:357 994 593 23">357 994 593 23</a></span>

        </div>



        <div class="item-dropdown__skype">

          <span class="label">Skype</span>
          
          <span><a href="skype:Alex_Konstantinov">Alex_Konstantinov</a></span>

        </div>



        <div class="item-dropdown__site">

          <span class="label">Сайт</span>
          
          <span><a href="alex_konstantinov.com">alex_konstantinov.com</a></span>

        </div>


      </div>

      <div class="new-item__list">

        <ul>

          <li>
              <div class="new-item__icon">
                <img src="img/messageAuthor.svg" alt="Написать владельцу" class="svg">
              </div>
            <div class="new-item__text">
              Написать владельцу
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <img src="img/likestroke.svg" alt="Svg icon" class="svg">
              </div>
            <div class="new-item__text">
              В избранное
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <img src="img/complain.svg" alt="Пожаловаться" class="svg">
              </div>
            <div class="new-item__text">
             Пожаловаться
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <img src="img/itemUp.svg" alt="Поднять объявление" class="svg">
              </div>
            <div class="new-item__text">
              Поднять объявление
            </div>
          </li>

          

        </ul>

      <div class="list-our__partner">
      <img src="img/partner.jpg" alt="Партнерская программа">
      </div>
      </div>

    </div>

  </div>

  <div class="new-item__icons">

    <div class="item-icons__message">
    <a href="#">
      <img src="img/itemMessage.svg" alt="Написать" class="svg">
    </a>
    </div>
    
    <div class="item-icons__print">
    <a href="#">
      <img src="img/itemPrint.svg" alt="Печать" class="svg">
    </a>
    </div>

    <div class="catalog-bottom__social">
  
  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/catalogFb.svg" alt="FaceBook" class="svg">
    </div>
    <div class="catalog-social__number">55</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/gg-plus.svg" alt="Icon google plus" class="svg">
    </div>
    <div class="catalog-social__number">12</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/catalogTw.svg" alt="Twitter" class="svg">
    </div>
    <div class="catalog-social__number">7</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/catalogIn.svg" alt="Catalog IN" class="svg">
    </div>
    </a>
  </a>
  </div>

</div>
    
  </div>

  <div class="new-item__description">
    <p>Современная 3-спальная квартира в престижном проекте, расположенном в центре города Лимассола. Проект состоит всего из шести роскошных 2- и 3-спальных квартир и пентхаусов. Этот жилой комплекс отражает великолепный дизайн и современный архитектурный стиль. Городские удобства, такие как продуктовые магазины, пекарни и рестораны находятся поблизости. Лучшие песчаные пляжи Лимассола и развлекательные заведения расположены в 5 минутах езды.</p>
  </div>

  <div class="new-description__additional">
    
    <div class="description-detailes__container">

      <div class="description-detailes__type">Тип</div>

      <div class="description-detailes__answer">Недвижимость</div>
      
    </div>

    <div class="description-detailes__container">

      <div class="description-detailes__type">Город</div>

      <div class="description-detailes__answer">Лимассол</div>
      
    </div>

    <div class="description-detailes__container">

      <div class="description-detailes__type">Район</div>

      <div class="description-detailes__answer">Рекреационный центр отдыха</div>
      
    </div>

    <div class="description-detailes__container detailes-container__last">

      <div class="description-detailes__type">Дополнительно</div>

      <div class="description-detailes__answer">Общественный бассейн и тренажерный зал для жильцов комплекса, бар, рядом магазин, детский сад и школа</div>
      
    </div>

  </div>

  <div class="new-item__map" id='map'>

  </div>

  
<script>
function initMap() {33.602186, 33.602186
	var uluru = {lat: 34.929005, lng: 33.602186};
	var uluru2 = {lat: 34.928818, lng: 33.747197};
	var map = new google.maps.Map(document.getElementById('map'), { // id - блок, где будет находится карта
	zoom: 10, //Масштаб по умолчанию
	center: uluru,
	mapTypeId: 'roadmap', // Тип карты
	});

	var marker = new google.maps.Marker({
	position: uluru2, // позиция маркера
	map: map,
	icon: 'img/map-marker.png' //Путь до маркера
  });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDauRoDMlAP9cx2whDz59mbEUG9I1DIKSI&callback=initMap">
</script>
</section>