<section class="newads">
  
  <div class="newads-title">
    <h2>Похожие объявления</h2>

    <a href="#"><span>Назад в каталог</span></a>

  </div>

    
  <div class="newsads-sliders"> 
    
    <div class="newsads-slidess swiper-wrapper">

      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img1.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">  
          <div class="newsads-price"><span class='price'>3000 &#8364;	 </span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img2.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатные аппартамент</a></h4></div>
        
        <div class="newsads-btm">  
          <div class="newsads-price"><span class='price'>3333 &#8364;	 </span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div> 
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img3.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Двухкомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>4444 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img4.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>5555 &#8364;	</span></div>
         <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img1.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира3</a></h4></div>
        
        <div class="newsads-btm">   
          <div class="newsads-price"><span class='price'>6666 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img2.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатные аппартамент13</a></h4></div>
        
        <div class="newsads-btm">  
          <div class="newsads-price"><span class='price'>7777 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img3.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Двухкомнатная квартира4</a></h4></div>
        
        <div class="newsads-btm"> 
          <div class="newsads-price"><span class='price'>8888 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div> 
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img4.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатные аппартамент2</a></h4></div>
        
        <div class="newsads-btm">
          <div class="newsads-price"><span class='price'>309900 &#8364;	 </span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>  
        
      </div>

       <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img1.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">  
          <div class="newsads-price"><span class='price'>3000 &#8364;	 </span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img2.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатные аппартамент</a></h4></div>
        
        <div class="newsads-btm">  
          <div class="newsads-price"><span class='price'>3333 &#8364;	 </span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div> 
        
      </div>


      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img3.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Двухкомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>4444 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>
      
      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img4.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>5555 &#8364;	</span></div>
         <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>

      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img4.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>6666 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>

      <div class="newsads-slidev swiper-slide">
        <div class="newsads-image"><img src="img/img4.png" alt="Изображение квартиры"></div>
        <div class="newsads-title"><h4><a href='#'>Однокомнатная квартира</a></h4></div>
        
        <div class="newsads-btm">    
          <div class="newsads-price"><span class='price'>7878 &#8364;	</span></div>
          <div class="newads-bottom__like">
          
        </div>
        </div>
        
      </div>

    </div>


    <div class="newsads-left">
      <img src="img/prev.svg" alt="Svg Icon" class="svg">
    </div>

    <div class="newsads-right">
      <img src="img/next.svg" alt="SVG ICON" class="svg">
    </div>

     </div>


</section>