<section class="news">

  <div class="sectionews-title">

    <h2>Новости и статьи</h2>

    <a href="news.html"><span>Все новости</span><img src="img/more.svg" class='svg' alt="Все новости"></a>

  </div>
  <!-- News Content  -->
  <div class="news-content">


    <!-- News Container  -->
    <div class="news-container">
      <a class='news-container__link' href="#">
        <div class="news-container__image"><img src="img/news-image__one.jpg" alt="Новость"></div>
        
        <div class="news-container__href">Приложние Cyprus Bazar доступно в Google Play</div>
        
        <div class="news-container__date">Cегодня в 10:15</div>
      </a>
    </div>
    <!-- End News Container  -->

    <!-- News Container  -->
    <div class="news-container">
      <a class='news-container__link' href="#">
        <div class="news-container__image"><img src="img/news-image__two.jpg" alt="Новость"></div>

        <div class="news-container__href">Разместите ваше объявление, и мы разрекламируем его на Facebook</div>
        
        <div class="news-container__date">14 февраля 2017</div>
      </a>
    </div>
    <!-- End News Container  -->


  </div>
  <!-- End News Content  -->

</section>