<section class="news-page">
  
  <div class="news-page__title">
    <h2>Новости и статьи</h2>
  </div>

  <div class="news-content__page">

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Приложние Cyprus Bazar доступно в Google Play</a></div>

      <div class="news-container__date">Cегодня в 10:15</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Разместите ваше объявление, и мы разрекламируем его на Facebook</a></div>

      <div class="news-container__date">14 февраля 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Что следует учитывать при покупке восстановленной электроники</a></div>

      <div class="news-container__date">12 февраля 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Размещайте объявления на Cyprus Bazar и получайте бонусы</a></div>

      <div class="news-container__date">28 января 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Авиаперевозки на Кипре достигли рекордных значений в 2016 году</a></div>

      <div class="news-container__date">20 января 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Правительство одобрило создание новой компании, предоставляющей авиационные услуги</a></div>

      <div class="news-container__date">15 января 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Значительный рост количества зарегистрированных компаний на Кипре</a></div>

      <div class="news-container__date">2 января 2017</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Ларнака и Лимассол выбраны основными претендентами для открытия первого казино на Кипре</a></div>

      <div class="news-container__date">27 декабря 2016</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Утверждено пересмотренное разрешение на планирование мариныa города Айя-Напы</a></div>

      <div class="news-container__date">23 декабря 2016</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Кипр получил британскую награду в сфере социально-ответственного туризма</a></div>

      <div class="news-container__date">30 ноября 2016</div>

    </div>

    <div class="news-container">


      <div class="news-container__href"><a href='#'>Повышение спроса на элитную недвижимость на берегу моря</a></div>

      <div class="news-container__date">6 ноября 2016</div>

    </div>

    <div class="news-container">

      <div class="news-container__href"><a href='#'>Свадебный туризм на Кипре</a></div>

      <div class="news-container__date">22 октября 2016</div>

    </div>

    

  </div>


  <div class="catalog-pagination">

    <ul>
      <li><a class='curentPage' href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#" class="all-page__catalog">...</a></li>
      <li><a href="#"><div class="catalog-pagination__all">115</div></a></li>
    </ul>   

</div>


</section>