<section class="one-news">

  <div class="one-news__title">
    <h2>Приложение Сyprus Bazar доступно в Google Play</h2>
  </div>

  <div class="one-news__date">Cегодня в 10:15</div>

  <div class="one-news__content">

    <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
    
    <p>Таким образом постоянный количественный рост и сфера нашей активности позволяет оценить значение модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности представляет собой интересный эксперимент проверки дальнейших направлений развития.</p>
    
    <p>Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации новых предложений. Повседневная практика показывает, что укрепление и развитие структуры способствует подготовки и реализации систем массового участия</p>

  </div>

  <div class="one-news__pagination">

    <div class="one-news__prev">
      <a href="#">Предыдущая новость</a>
    </div>

    <div class="one-news__next">
      <a href="#">Следующая новость</a>
    </div>
    
  </div>

</section>