<section class="newads-pricipaly">

  <div class="newads-principaly__title">
    <h2>Новые объявления</h2>
    <a href="#"><span>Все объявления</span>  <img src="img/more.svg" class='svg' alt="all"> </a>
  </div>
<div class="slider-small">

  <div class="principaly-newads__content">

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img1.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">
        </div> 
        </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img2.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">
        </div>
        </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img3.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">
        </div>
      </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img4.png">
      
        <div class="ads-image__more">
          <img src="img/adsImageMore.svg" alt="Показ всех картинок" class="svg">
        </div>
      </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          
        </div>
      </div>
    </div>

  </div>


    <div class="left-arrow"><img src="img/prev.svg" alt="Prev icon" class="svg"></div>

    <div class="right-arrow"><img src="img/next.svg" alt="Next icon" class='svg'></div>


</div>
</section>