<section class="purchase">

    <div class="purchase-title">

        <h2>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h2>

    </div>

    <div class="purchase-container">

        <div class="purchase-title">

            <input type="checkbox" name="VIP" class='purchase-cb' id='purchase_1'>
            <label for="purchase_1"><span></span>VIP размещение</label>

        </div>


        <div class="purchase-price">
            4 €
        </div>


        <div class="purchase-about">

            <div class="purchase-about__text">Подробнее</div>
            <div class="purchase-about__opened"><img src="img/arrowdown.svg" alt="Arrow" class="svg"></div>
            <div class="purchase-about__closed hidden"><img src="img/purchaseUp.svg" alt="Поднять" class="svg"></div>

        </div>

        <div class="purchase-dropdown">

            <div class="purchase-dropdown__left"></div>

            <div class="purchase-dropdown__right">

                <p>Эта зона расположена наверху каталога/результатов поиска сайта (пример на картинке слева). </p>
                <p>Объявление, которое вы продвигаете, будет рандомно показываться 14 дней наверху каталога/результатов
                    поиска сайта по категории, соответствующей объявлению.</p>

            </div>

        </div>


    </div>

    <div class="purchase-container">

        <div class="purchase-title">

            <input type="checkbox" name='Premium' class='purchase-cb' id='purchase_2'>
            <label for="purchase_2"><span></span>Premium размещение</label>

        </div>


        <div class="purchase-price">
            5 €
        </div>


        <div class="purchase-about">

            <div class="purchase-about__text">Подробнее</div>
            <div class="purchase-about__opened"><img src="img/arrowdown.svg" alt="Arrow" class="svg"></div>
            <div class="purchase-about__closed hidden"><img src="img/purchaseUp.svg" alt="Поднять" class="svg"></div>

        </div>

        <div class="purchase-dropdown">

            <div class="purchase-dropdown__left"></div>

            <div class="purchase-dropdown__right">

                <p>Эта зона расположена наверху каталога/результатов поиска сайта (пример на картинке слева). </p>
                <p>Объявление, которое вы продвигаете, будет рандомно показываться 14 дней наверху каталога/результатов
                    поиска сайта по категории, соответствующей объявлению.</p>

            </div>

        </div>


    </div>

    <div class="purchase-container">

        <div class="purchase-title">

            <input type="checkbox" name='ads' class='purchase-cb' id='purchase_3'>
            <label for="purchase_3"><span></span>Подсветить объявление</label>

        </div>


        <div class="purchase-price">
            2 €
        </div>


        <div class="purchase-about">

            <div class="purchase-about__text">Подробнее</div>
            <div class="purchase-about__opened"><img src="img/arrowdown.svg" alt="Arrow" class="svg"></div>
            <div class="purchase-about__closed hidden"><img src="img/purchaseUp.svg" alt="Поднять" class="svg"></div>

        </div>

        <div class="purchase-dropdown">

            <div class="purchase-dropdown__left"></div>

            <div class="purchase-dropdown__right">

                <p>Эта зона расположена наверху каталога/результатов поиска сайта (пример на картинке слева). </p>
                <p>Объявление, которое вы продвигаете, будет рандомно показываться 14 дней наверху каталога/результатов
                    поиска сайта по категории, соответствующей объявлению.</p>

            </div>

        </div>


    </div>


    <div class="purchase-container">

        <div class="purchase-title">

            <input type="checkbox" name='add-up' class='purchase-cb' id='purchase_4'>
            <label for="purchase_4"><span></span>Поднять объявление в поиске</label>

        </div>


        <div class="purchase-price">
            1 €
        </div>


        <div class="purchase-about">

            <div class="purchase-about__text">Подробнее</div>
            <div class="purchase-about__opened"><img src="img/arrowdown.svg" alt="Arrow" class="svg"></div>
            <div class="purchase-about__closed hidden"><img src="img/purchaseUp.svg" alt="Поднять" class="svg"></div>

        </div>

        <div class="purchase-dropdown">

            <div class="purchase-dropdown__left"></div>

            <div class="purchase-dropdown__right">

                <p>Эта зона расположена наверху каталога/результатов поиска сайта (пример на картинке слева). </p>
                <p>Объявление, которое вы продвигаете, будет рандомно показываться 14 дней наверху каталога/результатов
                    поиска сайта по категории, соответствующей объявлению.</p>

            </div>

        </div>


    </div>

    <div class="purchase-action">

        <div class="purchase-action__total">

            <span>Итого:</span> <span>6 €</span>

        </div>

        <div class="purchase-action__right">

            <div class="purchase-small">

                <button>Оплатить</button>

            </div>

            <div class="purchase-action__free">
                <a href="#">
                    <div class="purchase-free__icon"><img src="img/freeweek.svg" alt="Бесплатно раз в неделю"
                                                          class="svg"></div>
                    <div class="purchase-free__text">Бесплатно раз в неделю</div>
                </a>
            </div>


            <div class="purchase-action__bonus">
                <a href="#">
                    <div class="purchase-bonus__icon"><img src="img/bonus.svg" alt="обменять на бонусы" class="svg">
                    </div>
                    <div class="purchase-bonus__text">Оплатить бонусами</div>
                </a>
            </div>


            <div class="purchase-action__paypal">
                <a href="#">
                    <div class="purchase-paypal__icon"><img src="img/paypal.svg" alt="Оплатить PayPal" class="svg">
                    </div>
                    <div class="purchase-paypal__text">Оплатить PayPal</div>
                </a>
            </div>

        </div>

    </div>

</section>