<section class="search">

    <form action="" class="search-form">

        <div class="search-top">

            <div class="search-top__left">

                <input type="text" class='search_input' name="search_input"
                       placeholder="37 объявлений сегодня, всего 12 232 ">

            </div>


            <div class="search-top__right">

                <div class="find-ads">

                    <button class='btn btn--orange'>

            <span class="find-icon">
              <img src="img/searchIcon.svg" alt="SearchIcon" class='svg'>
            </span>
                        <span class='find-text'>Найти объявление</span>

                    </button>

                </div>

            </div>

        </div>


        <div class="search-bottom">

            <div class="search-bottom__left">

                <form action="" class="seach-select">
                    <label for="checkbox-one">В заголовке
                        <input type="checkbox" class='checkbox-dstr' id='checkbox-one' value="В заголовке"></label>

                    <label for="checkbox-two">С фото
                        <input type="checkbox" class='checkbox-dstr' id='checkbox-two' value="С фото"></label>

                    <label for="checkbox-three">Только новые
                        <input type="checkbox" class='checkbox-dstr' id='checkbox-three' value="Только новые"></label>
                </form>

            </div>


            <div class="search-bottom__right">

                <div class="search-right__content">

                    <div class="search-right__content-item selectbox__noborder">
                        <select class="" placeholder="Выберите город" multiple>
                            <option value="Транспорт">Лимассол</option>
                            <option value="Электроника">Никосия</option>
                            <option value="Хобби и отдых">Пафос</option>
                            <option value="Личные вещи">Ларнака</option>
                            <option value="Для дома и сада">Айя-Напа</option>
                        </select>
                    </div>
                    <div class="search-right__content-item selectbox__noborder">
                        <select class="">
                            <option value="Preview">Выбрать раздел</option>
                            <option value="Транспорт">Транспорт</option>
                            <option value="Электроника">Электроника</option>
                            <option value="Хобби и отдых">Хобби и отдых</option>
                            <option value="Личные вещи">Личные вещи</option>
                            <option value="Для дома и сада">Для дома и сада</option>
                            <option value="Животные">Животные</option>
                            <option value="Для бизнеса">Для бизнеса</option>
                            <option value="Тоодос">Тоодос</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>


    </form>

</section>
