<div class="shop-sidebar">

  <div class="shop-sidebar__image"></div>

  <div class="shop-sidebar__contacts">

    <div class="sidebar-contact__phone">
      <div class="contact-phone__icon"><img src="img/phoneShop.svg" alt="Телефон" class="svg"></div>
      <div class="contact-phone__text"><a href="tel:99669952">99669952</a></div>
    </div>


    <div class="sidebar-contact__fax">
      <div class="contact-fax__icon"><img src="img/itemPrint.svg" alt="Факс" class="svg"></div>
      <div class="contact-fax__text"><a href="fax:25873628">25873628</a></div>
    </div>

  </div>

  <div class="shop-sidebar__address">A1 Spyrou Kyprianou, 4153, Limassol</div>

  <div class="shop-sidebar__descr">
    Emporium Cars Ltd является одной из самых крупных компаний в Европе. Мы гарантируем высокое качество сервиса и большой выбор машин в каталоге.
  </div>


  <div class="shop-sidebar__action">

    <div class="sidebar-action__write">
    <a href='#'>
      <div class="action-write__icon"><img src="img/messageAuthor.svg" alt="Написать" class="svg"></div>
      <div class="action-write__text">Написать менеджеру</div>
    </a>
    </div>

    <div class="sidebar-action__site">
    <a href='#'>
      <div class="action-site__icon"><img src="img/siteIcon.svg" alt="Сайт магазина" class="svg"></div>
      <div class="action-site__text">Сайт магазина</div>
    </a>
    </div>

    <div class="sidebar-action__address">
    <a href='#'>
      <div class="action-address__icon"><img src="img/adressIcon.svg" alt="Адрес на карте" class="svg"></div>
      <div class="action-address__text">Адрес на карте</div>
    </a>
    </div>

  </div>



<div class="catalog-bottom__social">
  
  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"><img src="img/catalogFb.svg" alt="FaceBook" class="svg">
    </div>
    <div class="catalog-social__number">55</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/gg-plus.svg" alt="Icon google plus" class="svg">
    </div>
    <div class="catalog-social__number">12</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"><img src="img/catalogTw.svg" alt="Twitter" class="svg">
    </div>
    <div class="catalog-social__number">7</div>
    </a>
  </div>
</div>



<div class="catalog-sidebar__category">
<div class="find-category__content">

    <div class="find-grid">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/transportIcon.svg" alt="Транспорт" class="svg">
          </div>
          
          <h3>Транспорт </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/electronicIcon.svg" alt="Электроника" class="svg">
          </div>
          
          <h3>Электроника </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid red-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/workIcon.svg" alt="Работа" class="svg">
          </div>
          
          <h3>Работа </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid red-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/servicesIcon.svg" alt="Услуги" class="svg">
          </div>
          
          <h3>Услуги </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFor</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>

     <div class="find-grid green-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/propertyIcon.svg" alt="Недвижимость" class="svg">
          </div>
          
          <h3>Недвижимость </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid green-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/houseIcon.svg" alt="Дом и сад" class="svg">
          </div>
          
          <h3>Дом и сад </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>

    <div class="find-grid red-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/bussinesIcon.svg" alt="Бизнес" class="svg">
          </div>
          
          <h3>Бизнес </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid gray-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/freeStuffIcon.svg" alt="Бесплатные вещи" class="svg">
          </div>
          
          <h3>Бесплатные вещи </h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid green-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
              <img src="img/hobbyIcon.svg" alt="Хобби и отдых" class="svg">
          </div>
          
          <h3>Хобби и отдых</h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>

     <div class="find-grid green-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/animalsIcon.svg" alt="животные" class="svg">
          </div>
          
          <h3>Животные</h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>
  
    <div class="find-grid green-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/thingsIcon.svg" alt="Личные вещи" class="svg">
          </div>
          
          <h3>Личные вещи</h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>


    <div class="find-grid gray-icon">
    
      <div class="find-category__item">
        
        
        <div class="find-category__title">

          <div class="find-title__icon">
            <img src="img/lostAndFoundIcon.svg" alt="Бюро находок" class="svg">
          </div>
          
          <h3>Бюро находок</h3>

        </div>

        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+2</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</div>
</div>