<section class="sub-category">

  <div class="sub-category__title">
    <h2>Недвижимость</h2>
  </div>

  <div class="sub-category__total">

      <div class="sub-category__preview">

        <ul>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

           <li>
            <div class="open-subcategory">

              <div class="subcategory-title">
              <h4>Смотреть все категории</h4>

            <div class="subcategory__open">
              <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
            </div>
              
            <div class="subcategory__closed  hidden">
              <img src="img/subcategoryClosed.svg" alt="Закрыть" class="svg">
            </div>

          </div>

            </div>
          </li>

        </ul>
      </div>
        <div class="sub-category__all  hidden">
          <ul>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

           <li>
            <div class="open-subcategory">

              <div class="subcategory-title">
              <h4>Смотреть все категории</h4>

            <div class="subcategory__open">
              <img src="img/subcategoryOpen.svg" alt="subcategoryOpen" class="svg">  
            </div>
              
            <div class="subcategory__closed  hidden">
              <img src="img/subcategoryClosed.svg" alt="Закрыть" class="svg">
            </div>
            
          </div>

            </div>
          </li>
            

          </ul>
        </div>
      </div>

  </div>

</section>