<section class="subscribres">

  <div class="subscribres-title">
    <h2>Мои подписки</h2>
  </div>


   <div class="bazar-table  bazar-table__subscribers">

<table class='bazar-table__top  subscribers-table__top'>

  <tr>
    <td>Дата</td>
    <td>Категория</td>
    <td>Статус</td>
    <td></td>
    <td></td>
  </tr>
</table>

<table  class='bazar-table__bottom subscribers-table__bottom'>
  <tr>
    <td>27 Дек 2016</td>
    <td>Водный транспорт</td>
    <td>Активный</td>
    <td><a href="#">Остановить</a></td>
    <td><a href="#">Удалить</a></td>
  </tr>

  <tr>
    <td>27 Дек 2016</td>
    <td>Автомобили</td>
    <td>Активный</td>
    <td><a href="#">Остановить</a></td>
    <td><a href="#">Удалить</a></td>
  </tr>

  <tr>
    <td>23 Dec 2016</td>
    <td>Дома, виллы, коттеджи</td>
    <td>Неактивный</td>
    <td><a href="#">Остановить</a></td>
    <td><a href="#">Удалить</a></td>
  </tr>
</div>
</table>


  </div>

</section>