<template>
    <div class="form-group">
        <label class="control-label"><slot></slot></label>
        <div class="type-body">
            <div class="type-fields">
                <div :class="'type-field '+(active_id == item.id ? 'active' : '')" v-for="item in this.items" v-if="items" @click="onClick(item.id)">
                    <label style="">
                        <input type="radio" :name="name" :value="item.id" v-model="active_id">
                        <img :class="'svg '+item.svg">
                        {{ item.name }}
                    </label>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    module.exports = {
        data: function() {
            return {
                items: [],
                active_id: 0,
            }
        },

        props:['name', 'label', 'active'],
        computed: {
            resource: function() {
                return this.$resource('/ajax/car-body-list/')
            },
        },
        methods: {
            getAllBody: function () {
                this.resource.get().then(function(response) {
                    this.items = response.data;
                }, function(error) {
                    // ошибка
                })
            },
            onClick: function (id) {
                this.active_id = id;
            },
        },
        created: function () {
            this.getAllBody();
            this.active_id = this.active;
        }
    }
</script>

<style>
    .type-field label{
        font-family: HelveticaNeueRoman
    }
    .type-field.active{
        background: #669708;
    }
    .type-field.active label{
        color: white;
    }
</style>