<template>
    <div class="type-fields">
        <div class="type-field"></div>
    </div>
</template>

<script>
    module.exports = {
        data: function(){
            return {}
        }
    }
</script>

<style>
</style>