<template>
    <div class="row preloader message-wrap">
        <div class="col-sm-9">
            <h3>{{msg.rec_message}}</h3>

            <div v-if="!messageList.length" class="message-list margin-bottom-small">
                <p class="chat-message-not-found">{{msg.not_found}}</p>
            </div>
            <div v-else class="message-list margin-bottom-small">
                <div v-for="message in messageList" :class="'chat-message-item '+(message.user_id != currentUser ? 'message-mine' : '')">
                    <span class="chat-message-item-name">{{message.userName}}</span>
                    <span class="chat-message-item-text">{{message.message}}</span>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="message-area" v-if="currentUser">
                <textarea class="form-control" @keyup.enter="sendMessage" rows="3" v-model="messageText"></textarea>
                <div class="margin-top-small">
                    <button class="btn btn--green btn--small" @click="sendMessage">{{msg.send}}</button>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <h3>{{msg.rec_user}}</h3>

            <div v-if="!userList.length" class="margin-top-large">
                <p>{{msg.not_found}}</p>
            </div>
            <div v-else>
                <a @click="setUser(user)" :class="'chat-user-row '+(user.partnerId == currentUser ? 'active' : '')" v-for="user in userList">
                    <span class="chat-user-row-avatar">
                        <img :src="user.partnerAvatar ? user.partnerAvatar : '/dist/img/noimage.jpg'" alt="">
                    </span>
                    {{user.partnerName}}
                    <span v-if="user.hasUnread" class="chat-user-unread"></span>
                </a>
            </div>

        </div>
    </div>
</template>

<script>
    module.exports = {
        props: ['user_id', 'msg'],
        data: function () {
            return {
                userList: [],
                messageList: [],
                messageText: null,
                currentUser: null
            }
        },
        methods: {
            loadChatUsers(){
                this.$http.get('/chat/user-list/').then(response => {
                    if(response.status){
                        this.userList = response.body;
                    }
                })
            },
            loadChatMessages(ref){
                let id = this.currentUser;
                this.$http.get('/chat/message-list/?id='+id).then(response => {
                    if(response.status){
                        this.messageList = response.body;
                        let th = this
                        if(ref)
                            setTimeout(function () {
                                th.scrollToBottom()
                            }, 100);
                    }
                })
            },
            sendMessage(){
                let data = new FormData();
                data.append('message', this.messageText);
                data.append('userId', this.currentUser);
                this.$http.post('/chat/send-message/', data).then(response => {
                    if(response.status){
                        this.messageText = '';
                        this.loadChatUsers();
                        this.loadChatMessages(true);
                    }
                })
                return false;
            },
            startRefresh(){
                let th = this
                setInterval(function () {
                    if(th.currentUser){
                        th.loadChatMessages(false)
                        th.loadChatUsers()
                    }
                }, 5000);
            },
            scrollToBottom(){
                let selector = $('.message-list');
                selector.scrollTop(selector.prop('scrollHeight'));
            },
            setUser(user){
                this.currentUser = user.partnerId;
                user.hasUnread = false
                this.loadChatMessages(true);
                this.loadChatUsers();
                this.scrollToBottom()
            }

        },
        created: function () {
            this.currentUser = this.user_id;
            this.loadChatUsers();
            this.loadChatMessages(true);
            this.startRefresh()
        },

    }
</script>

<style>
    .message-list{
        background: #f8f8f8;
        height: 300px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 10px;
        overflow-y: auto;
        position: relative;
    }
    .message-aread textarea{
        resize: vertical;
    }

    .chat-message-item.message-mine{
        float: left;
        background: rgba(123, 173, 27, 0.2);
    }
    .chat-message-item{
        padding: 5px 10px;
        background: rgba(255, 126, 0, 0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        width: 90%;
        float: right;
        margin: 5px 0;
    }
    .chat-message-item-name{
        color: #a3a3a3;
    }
    .chat-message-item-text{
        margin-left: 10px;
    }
    .chat-user-row{
        display: block;
        margin-bottom: 10px;
        padding: 5px 10px;
        color: #ff7e00;
        border: 1px solid #ff7e00;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
    }
    .chat-user-row:hover{
        color: white;
        background: #ff7e00;
    }
    .chat-user-row.active{
        background: #7bad1b;
        border-color: #7bad1b;
        color: white;
    }
    .chat-message-not-found{
        position: absolute;
        left: 45%;
        top: 48%;
    }
    .chat-user-row-avatar {
        margin-right: 15px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        height: 40px;
        width: 40px;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
    }
    .chat-user-row-avatar img{
        height: 40px;
    }
    .chat-user-unread{
        display: inline-block;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin-left: 5px;
        background: #ff7e00;
    }
    .chat-user-row:hover .chat-user-unread{
        background: white;
    }
</style>