<template>
    <label @click="onCheck" class="ck-item">
        <div class="ck-icon ck-icon-active" v-if="active"></div>
        <div class="ck-icon" v-else></div>
        <slot></slot>

        <input type="hidden" :name="name" :value="active ? 1 : 0">
    </label>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                active: false,
            }
        },
        props:['checked', 'name'],
        methods: {
            onCheck: function(){
                this.active  = !this.active
            },
        },
        created: function () {
            this.active = this.checked == 1;
        }
    }
</script>

<style>
</style>