<template>
    <span class="header-likes__number">

    </span>
</template>

<script>
    export default {
        data() {
            return {
                _count: 0
            }
        },
        props: ['count'],
        computed: {
            f_count: function () {
                return this._count == 0 ? '' : this._count
            }
        }
    }
</script>

<style>
</style>