<template>
    <a class="link-icon" @click="onClick()">
        <div v-if="text">
            <i :class="'icon text-icon favorite-icon '+active_class"></i>
            <span :class="'favorite-text '+active_class">{{text}}</span>
        </div>
        <div v-else>
            <div :class="'newads-bottom__like '+ active_class"></div>
        </div>
    </a>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                active: false,
                // endpoint: '/ajax/favorite-change-active',
            }
        },
        props:['item_id', 'is_active', 'text', 'class', 'endpoint'],
        computed: {
            resource: function() {
                return this.$resource(this.endpoint+'?id='+this.item_id)
            },
            active_class: function () {
                if(this.active)
                    return 'active';
                return '';
            },
            currentClass: function () {
                var className = ''
                return className
            }
        },
        methods: {
            onClick: function () {
                this.resource.get().then(function(response) {
                    this.active = !this.active;

                    if(this.active)
                        this.$emit('fav_inc');
                    else
                        this.$emit('fav_dec');

                }, function(error) {
                    // ошибка
                })

            }
        },
        created: function () {
            this.active = this.is_active == '1' ? true : false;
        }

    }
</script>

<style>
    .favorite-icon{
        background: url('/dist/img/likestroke.svg') no-repeat center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: -3px;
    }
    .favorite-icon.active{
        background: url('/dist/img/heart-galery.svg') no-repeat center;
    }
    .favorite-text{
        cursor: pointer;
    }
    .favorite-text.active{
        color: #ff7e00
    }
</style>