<template>
    <div>
        <div class="row">
            <div class="form-group">
                <div class="col-sm-10">
                    <input type="text" :value="firstItem" :name="name+'[0]'">
                </div>
                <div class="col-sm-2">
                    <a href="javascript:;" class="btn btn--green btn--field" @click="addRow">{{ buttonLabel }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group" v-for="(row, index) in items" v-if="index > firstIndex">
                <div class="col-sm-10">
                    <input type="text" :value="row" :name="name+'['+index+']'">
                </div>
                <div class="col-sm-2">
                    <a href="javascript:;" class="btn btn--orange btn--field" @click="removeRow(index)">Remove</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                items: [],
                firstItem: '',
                firstIndex: 0,
            }
        },
        computed: {
            resource: function() {
                return this.$resource(this.endpoint)
            }
        },
        props:['endpoint', 'name', 'buttonLabel'],
        methods: {
            getRows: function(){
                this.resource.get().then(function(response) {

                    let data = response.data;
                    for(let i in data){
                        if(i == 0){
                            this.firstItem = data[i];
                            this.firstIndex = i;
                        }
                    }

                    this.items = response.data
                }, function(error) {
                    // ошибка
                })
            },
            addRow: function () {
                this.items.push("");
            },
            removeRow: function (id) {
                this.items.splice(id, 1);
            }
        },
        created: function () {
            this.getRows();
        }
    }
</script>

<style>

</style>