<template>
    <div class="row">

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <input placeholder="Address" type="text" v-model="addressText">
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn--green btn--field" :disabled="addressText.length < 5" @click="addAddress">{{ text_add_address }}</button>
                </div>
            </div>
            <div v-if="addresses">

                <div class="row" v-for="(adr, index) in addresses">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <input               :name="name+'['+index+'][name]'" v-model="adr.name" type="text">
                            <input type="hidden" :name="name+'['+index+'][position][lat]'" v-model="adr.position.lat">
                            <input type="hidden" :name="name+'['+index+'][position][lng]'" v-model="adr.position.lng">
                            <input type="hidden" :name="name+'['+index+'][id]'" v-model="adr.id">
                        </div>
                    </div>
                    <div class="col-sm-2" style="line-height: 50px;">
                        ID: {{adr.id}}
                    </div>
                    <div class="col-sm-1">
                        <a class="link link-black link-large remove-button" @click="removeAddress(index)">
                            <i class="ion-ios-close-outline"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6"  v-if="addresses">
            <gmap-map
                    :center="center"
                    :zoom="zoom"
                    style="width: 100%; height: 300px"
            >
                <gmap-marker
                        :key="index"
                        v-for="(m, index) in addresses"
                        :position="m.position"
                        :title="m.name"
                        :clickable="true"
                        :label="m.id"
                        :draggable="true"
                        @position_changed="updateChild(m, 'position', $event)"
                        @click="center=m.position"
                ></gmap-marker>
            </gmap-map>
        </div>

    </div>

</template>

<script>
    // import {load, Map, Marker} from 'vue-google-maps'

    // load('AIzaSyAacC73p-D8Cf0qOscGIcvty5AwvtITejM')
    export default {
        name: "profile-address",
        props: {
            name: String,
            text_add_address: String,
            endpoint: String
        },
        data: function () {
            return {
                center: {lat: 34.9920185, lng: 33.1584607},
                zoom: 12,
                addresses: [
                ],
                addressText: ''
            }
        },
        methods: {
            setCenter() {
                if (this.addresses.length) {
                    this.center = this.addresses[0].position
                }
            },
            updateChild(object, field, event) {
                if (field === 'position') {
                    object.position = {
                        lat: event.lat(),
                        lng: event.lng(),
                    };
                }
            },
            addAddress(){
                let item = {
                    id: 1,
                    name: this.addressText,
                    position: {
                        lat: this.center.lat,
                        lng: this.center.lng + 0.005
                    }
                };
                if(this.addresses.length){
                    let last_item = this.addresses[this.addresses.length - 1];
                    item.id = (parseInt(last_item.id) + 1).toString();
                    item.position.lat = last_item.position.lat;
                    item.position.lng = last_item.position.lng + 0.005

                }

                this.addresses.push(item);
                this.addressText = ''
            },
            removeAddress(index){
               this.addresses.splice(index, 1)
            },
            loadData(){
                this.$http.get(this.endpoint).then(response => {
                    if(response.status){
                        this.addresses = response.body;
                        this.center = this.addresses[0].position
                    }
                })
            }
        },
        created: function () {
            this.setCenter();
            this.loadData()
        }

    }
</script>

<style scoped>
    .remove-button {
        top: 10px;
        position: relative;
        font-size: 30px;
    }
</style>