<template>
    <div class="form-group btn-group">
        <label><slot></slot></label>
        <label v-for="item in items" :class="'btn-group-item '+ (isActive(item.id) ? 'active' : '')" @click="activeItem(item.id)">
            {{ item.name }}
            <input type="radio" :name="name" :value="item.id" :selected="isActive(item.id)">
        </label>
    </div>
</template>

<script>

    module.exports = {
        data: function () {
            return {
                items: [],
                active_item: 0,
            }
        },
        computed: {
            resource: function() {
                return this.$resource(this.items_url)
            }
        },
        props: ['items_url', 'name', 'active'],
        methods: {
            getItems: function(){
                this.resource.get().then(function(response) {
                    this.items = response.data
                }, function(error) {
                    // ошибка
                })
            },
            activeItem: function(id){
                this.active_item = id;
                this.$emit('user_type', id);
            },
            isActive: function (id) {
                return this.active_item == id;
            }
        },
        created: function() {
            this.getItems();
            this.active_item = this.active
            this.$emit('user_type', this.active_item);
        }

    }
</script>

<style>

</style>