
<template>
    <div>
        <button class="btn btn--green" v-if="!isSendedStart" @click="sendSmsStart">{{text_send_code}}</button>
        <div v-else>
            <input type="text" class="form-input" v-model="smsCode">
            <button :disabled="smsCode.length != 4" class="btn btn--green" @click="acceptCode">{{text_accept_code}}
            </button>
            <div v-if="hasError" class="error">
                {{text_error}}
            </div>
            <div v-if="isSendedStart && !resendCounter">
                <a class="link" href="#" @click="sendSms">{{text_again}}</a>
            </div>
            <div v-else-if="resendCounter > 0"> {{text_again_in}} {{ resendCounter }}</div>
        </div>


    </div>
</template>

<script>
    module.exports = {
        data: function () {
            return {
                endpoint: '/ajax/send-sms-code/',
                endpointAccept: '/ajax/accept-sms-code/',
                isSendedStart: false,
                isSended: false,
                resendCounter: false,
                smsCode: '',
                hasError: false,
            }
        },
        props:{
            text_again: String,
            text_send_code: String,
            text_accept_code: String,
            text_again_in: String,
            text_error: String,
        },
        computed: {
        },
        methods: {
            sendSmsStart(){
                this.isSendedStart = true;
                this.startCounter();
                this.sendSms()
            },
            sendSms(){
                this.$http.get(this.endpoint).then(response => {
                    if(response.status){
                        this.isSended = false;
                        this.resendCounter = 60;
                    }
                })
            },
            startCounter(){
                var th = this;
                setInterval(function () {
                    if(th.resendCounter <= 0){
                        th.isSended = false;
                        th.resendCounter = false
                    }
                    else
                        th.resendCounter--;
                }, 1000);
            },
            acceptCode(){
                this.$http.get(this.endpointAccept + '?code=' + this.smsCode).then(response => {
                    if (response.status) {
                        if (response.body.status) {
                            this.smsCode = '';
                            this.hasError = false;
                            window.location = window.location.href;
                        }
                        else {

                            if (response.body.try == 0) {
                                this.hasError = this.isSended = this.isSendedStart = false;
                                this.smsCode = '';
                            }
                            this.hasError = true
                        }
                    }
                })
            }
        },
        created: function () {
        }

    }
</script>

<style>
    .form-input{
        height: 55px;
        position: relative;
        top: 2px;
        padding: 0 10px;
    }

    .error {
        color: #ff7e00;
    }
</style>