<template>
    <div >
        <gmap-map
                :center="center"
                :zoom="zoom"
                style="width: 100%; height: 300px"
        >
            <gmap-marker
                    :key="index"
                    v-for="(m, index) in addresses"
                    :position="m.position"
                    :title="m.name"
                    :clickable="true"
                    :label="m.id"
                    :draggable="false"
                    @click="center=m.position"
            ></gmap-marker>


        </gmap-map>
    </div>

</template>

<script>
    // import {load, Map, Marker} from 'vue-google-maps'

    // load('AIzaSyAacC73p-D8Cf0qOscGIcvty5AwvtITejM')
    export default {
        name: "profile-address",
        props: {
            id: String,
        },
        data: function () {
            return {
                center: {lat: 34.9920185, lng: 33.1584607},
                zoom: 12,
                addresses: [
                ],
            }
        },
        methods: {
            setCenter() {
                if (this.addresses.length) {
                    this.center = this.addresses[0].position
                }
            },
            loadData(){
                this.$http.get('/ajax/load-user-address/?id='+this.id).then(response => {
                    if(response.status){
                        this.addresses = response.body
                        this.center = this.addresses[0].position
                    }
                })
            }
        },
        created: function () {
            this.setCenter()
            this.loadData()
        }

    }
</script>

<style scoped>

</style>