
<template>
    <div>
        <div v-show="showPhoneField">
            <div class="field-group select-hook">
                <select v-model="phoneCode" class="phoneCodeLogin">
                    <option v-for="(name, key) in phoneCodeList" :value="key">{{name}}</option>
                </select>
                <input type="text" class="form-input" v-model="phoneNumber">
            </div>
            <div v-if="notFoundError" class="error">
                {{notFoundError}}
            </div>
            <button :disabled="phoneNumber.length < 8" class="btn btn--green margin-top-small" @click="sendSmsStart">
                {{text_send_code}}
            </button>
        </div>
        <div v-show="!showPhoneField">
            <input type="text" class="form-input" style="top: 7px; " v-model="smsCode">
            <button :disabled="smsCode.length != 4" class="btn btn--green margin-top-small" @click="acceptCode">
                {{text_accept_code}}
            </button>
            <div v-if="codeError" class="error">
                {{text_error}}
            </div>
            <div v-if="isSendedStart && !resendCounter">
                <a class="link" href="#" @click="sendSms">{{text_again}}</a>
            </div>
            <div v-else-if="resendCounter > 0"> {{text_again_in}} {{ resendCounter }}</div>
        </div>


    </div>
</template>

<script>

    module.exports = {
        data: function () {
            return {
                endpointSend: '/ajax/send-login-code/',
                endpointAccept: '/ajax/accept-login-code/',
                isSendedStart: false,
                isSended: false,
                resendCounter: false,
                smsCode: '',
                phoneNumber: '',
                phoneCode: 357,
                codeError: false,
                notFoundError: false,
                phoneCodeList: [],
                showPhoneField: true,
            }
        },
        props:{
            codes: String,
            text_again: String,
            text_send_code: String,
            text_accept_code: String,
            text_again_in: String,
            text_error: String,
        },
        computed: {
        },
        methods: {
            sendSmsStart(){
                this.sendSms(true)
            },
            sendSms(start) {
                this.$http.get(this.endpointSend+'?phone='+this.phoneNumber+'&phone_code='+this.phoneCode).then(response => {
                    if (response.status && response.body.status === true) {
                        this.isSended = true;
                        this.resendCounter = 60;
                        this.notFoundError = false;
                        this.showPhoneField = false;
                        if (start) {
                            this.isSendedStart = true;
                            this.startCounter();
                        }
                        return true;
                    }
                    else {
                        this.notFoundError = response.body.error;
                        return false
                    }


                })
            },
            startCounter(){
                var th = this;
                setInterval(function () {
                    if(th.resendCounter <= 0){
                        th.isSended = false;
                        th.resendCounter = false
                    }
                    else
                        th.resendCounter--;
                }, 1000);
            },
            acceptCode(){
                this.$http.get(this.endpointAccept
                    + '?code=' + this.smsCode
                    + '&phone_code=' + this.phoneCode
                    + '&phone=' + this.phoneNumber).then(response => {
                    if (response.status) {
                        if (response.body.status === true) {
                            this.smsCode = '';
                            this.codeError = false;
                            window.location = window.location.href.replace('#', '');
                        }
                        else {
                            if (response.body.try == 0) {
                                this.codeError = this.isSended = this.isSendedStart = false;
                                this.phoneCode = 357;
                                this.phoneNumber = '';
                                this.showPhoneField = true
                            }
                            this.codeError = true
                        }
                    }
                })
            },
            loadPhoneCodes(){
                this.phoneCodeList = JSON.parse(this.codes)
            },
        },
        mounted: function(){
            let th = this;
            $('.select-hook').on('change', '.phoneCodeLogin', function () {
                th.phoneCode = $(this).val();
            });
        },
        created: function () {
            this.loadPhoneCodes()
        }

    }
</script>

<style>
    .select-hook .form-input {
        width: 240px;
    }
    .select-hook .SumoSelect{
        z-index: 100
    }
    .form-input{
        height: 55px;
        position: relative;
        top: 2px;
        padding: 0 10px;
    }

    .error {
        color: #ff7e00;
    }
</style>