<template>
    <div id="">
        <vue-dropzone
            ref="myVueDropzone"
            :options="dropzoneOptions"
            @vdropzone-sending="sendingEvent"
            @vdropzone-thumbnail="thumbnail"
            @vdropzone-success="successEvent"
            @vdropzone-removed-file="onRemove"
            @rotate-left="rotateLeft"
            id="customdropzone">
        </vue-dropzone>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    module.exports = {
        data: function () {
            return {
                hasMain: false,
                loadImagesUrl: '/ajax/load-images/',
                dropzoneOptions: {
                    previewTemplate: this.template(),
                    thumbnailWidth: 200,
                    // addRemoveLinks: true,
                    url: "/ajax/upload-image/",
                    // url: "https://httpbin.org/post",
                    dictDefaultMessage: "<i class='ion-ios-cloud-upload-outline'></i> "+this.text_upload,
                },
                iconMainImage: 'ion-ios-star',
                iconUsualImage: 'ion-ios-star-outline',
            }
        },
        components: {
            vueDropzone: vue2Dropzone
        },
        props:['adv_id', 'text_upload'],
        computed: {

        },
        methods: {
            template: function () {
                return `<div class="dz-preview dz-file-preview">
                            <div class="dz-image">
                                <div data-dz-thumbnail-bg></div>
                            </div>
                            <div class="dz-details">
                                <div class="dz-size"><span data-dz-size></span></div>
                                <div class="dz-filename"><span data-dz-name></span></div>

                                <div class="margin-top-large">
                                    <a class=" link link-large link-white link-hover-gray ion-ios-trash-outline" href="javascript:undefined;" data-dz-remove></a>
                                    <a class=" link link-large link-white link-hover-gray ion-ios-undo-outline rotate-left" href="javascript:undefined;" ></a>
                                    <a class=" link link-large link-white link-hover-gray ion-ios-redo-outline rotate-right" href="javascript:undefined;" ></a>
                                    <a class=" link link-large link-white link-hover-gray set-main-photo" href="javascript:undefined;" ></a>

                                </div>
                            </div>
                            <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                            <div class="dz-success-mark"><i class="fa fa-check"></i></div>
                            <div class="dz-error-mark"><i class="fa fa-close"></i></div>
                        </div>
                `;
            },
            sendingEvent (file, xhr, formData) {
                formData.append('item_id', this.adv_id);
            },
            successEvent(file, response){
                file.id = response.id
                file.path = response.path
                file.isMain = response.isMain
                // console.log('successEvent')
                this.mounted(file)
            },
            onRemove(file, error, xhr){
                this.$http.get('/ajax/delete-image/?id='+file.id).then(response => {
                });
            },
            thumbnail: function(file, dataUrl) {
                var j, len, ref, ref2, thumbnailElement;
                if (file.previewElement) {
                    file.previewElement.classList.remove("dz-file-preview");

                    ref = file.previewElement.querySelectorAll("[data-dz-thumbnail-bg]");
                    for (j = 0, len = ref.length; j < len; j++) {
                        thumbnailElement = ref[j];
                        thumbnailElement.alt = file.name;
                        thumbnailElement.style.backgroundImage = 'url("' + dataUrl + '")';
                    }
                    // console.log('thumb')
                    if(file.id)
                        this.mounted(file)
                    return setTimeout(((function(_this) {
                        return function() {
                            return file.previewElement.classList.add("dz-image-preview");
                        };
                    })(this)), 1);
                }
            },
            loadImages(){
                this.$http.get(this.loadImagesUrl+'?id='+this.adv_id).then(response => {
                    if(response.status){
                        let th = this
                        response.body.forEach(function(item){
                            var file = {
                                size: item.size,
                                name: item.name,
                                id: item.id,
                                path: item.thumbnailUrl,
                                isMain: item.isMain
                            }
                            th.$refs.myVueDropzone.manuallyAddFile(file, item.thumbnailUrl+'?time='+Date.now());
                        })
                    }
                })
            },
            rotate(direction, file){
                this.$http.get('/ajax/image-rotate/?id='+file.id+'&direction='+direction).then(response => {
                    var ref = file.previewElement.querySelectorAll("[data-dz-thumbnail-bg]");
                    ref[0].style.backgroundImage = 'url("' + file.path + '?time='+Date.now()+'")';
                })
            },
            setMain(file){
                this.$http.get('/ajax/image-set-main/?id='+file.id).then(response => {
                    $('#customdropzone').find('.'+this.iconMainImage).removeClass(this.iconMainImage).addClass(this.iconUsualImage);
                    $('#customdropzone').find('.'+this.iconUsualImage+'[rel="'+file.id+'"]').removeClass(this.iconUsualImage).addClass(this.iconMainImage);
                    // console.log($('#customdropzone').find('.'+this.iconUsualImage+'[rel="'+file.id+'"]'))
                })
            },
            mounted(file){

                // console.log('mount')
                this.setImageData(file)
                $('#customdropzone').on('click', '.rotate-left[rel="'+file.id+'"]', function (e) {
                    this.rotate('left', file)
                }.bind(this));
                $('#customdropzone').on('click', '.rotate-right[rel="'+file.id+'"]', function (e) {
                    this.rotate('right', file)
                }.bind(this));
                $('#customdropzone').on('click', '.set-main-photo[rel="'+file.id+'"]', function (e) {
                    this.setMain(file)
                }.bind(this));
            },
            setImageData(file){
                console.log('imageData')
                file.previewElement.querySelectorAll(".rotate-left")[0].rel = file.id
                file.previewElement.querySelectorAll(".rotate-right")[0].rel = file.id
                var mainPh = file.previewElement.querySelectorAll(".set-main-photo")[0]
                mainPh.rel = file.id

                mainPh.classList.add((file.isMain ? this.iconMainImage : this.iconUsualImage))
            }
        },
        created: function () {
            this.loadImages()
        }

    }
</script>

<style>
    @import '/node_modules/vue2-dropzone/dist/vue2Dropzone.css';
    /*#customdropzone {*/
        /*background-color: orange;*/
        /*font-family: 'Arial', sans-serif;*/
        /*letter-spacing: 0.2px;*/
        /*color: #777;*/
        /*transition: background-color .2s linear;*/
        /*height: 200px;*/
        /*padding: 40px;*/
    /*}*/

    .vue-dropzone .dz-preview .dz-details{
        background: rgba(123, 173, 27, 0.8);
    }

    #customdropzone::before{
        content: 'Upload images';
        display: block;
        height: 55px;
        color: white;
        background: #74a90f;
        border-radius: 2px;
        width: 150px;
        text-align: center;
        line-height: 55px;
        margin-left: 15px;
    }
    #customdropzone:hover::before{
        background: rgba(123, 173, 27, 0.8);
    }

    #customdropzone .dz-preview {
        width: 150px;
        display: inline-block
    }
    #customdropzone .dz-preview .dz-image {
        width: 150px;
        height: 150px;
    }
    #customdropzone .dz-preview .dz-image > div {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background-size: contain;
        min-width: 230px;
        min-height: 230px;
    }
    #customdropzone .dz-preview .dz-image > img {
        width: 100%;
    }

    #customdropzone .dz-preview .dz-details {
        color: white;
        transition: opacity .2s linear;
        text-align: center;
    }
    #customdropzone .dz-success-mark, .dz-error-mark, .dz-remove {
        display: none;
    }
</style>