// Страница каталога
section.catalog-all
	padding: 0 40px
	margin-top: 20px
	&::after
		content: ''
		clear: both
		display: block
	.catalog-sidebar
		width: 240px
		margin-right: 40px
		float: left
	.catalog-content
		width: calc(100% - 280px)
		float: right
.sidebar-top__out
	&:hover
		opacity: 0.8
	.sidebar-out__icon,
	.sidebar-out__text
		display: inline-block
	.sidebar-out__text
		color: $GrayColor
		font-size: 18px
		position: relative
		padding-left: 5px
.sidebar-top__find
	padding-bottom: 10px
	h2
		font-size: 30px
		line-height: 1.1
.sidebar-top__subscribe
	&:hover
		opacity: 0.8
	> div
		display: inline-block
	.susbcribe-text
		padding-bottom: 30px
		a
			font-size: 15px
			color: $GrayColor

.find-select__category
	.jq-select-multiple li, 
	.jq-selectbox li
		white-space: normal
		line-height: 1.4
		margin-top: 5px
#checkboxes-city
	display: none
	border: 1px $GrayColor solid
	border-radius: 2px

#checkboxes-city label 
  display: block
#checkboxes-city
	padding-top: 15px
	padding-bottom: 15px
	top: 50px
	left: -50%

#checkboxes-city label:hover
  background-color: #f9f9f9

input.sl-chb__active
	display: none

input.sl-chb__active + label span
	display: inline-block
	width: 24px
	height: 24px
	margin: -1px 4px 0 0
	vertical-align: middle
	border-radius: 2px
	cursor: pointer
	border: 1px solid $GrayColor
	margin-left: 20px
	margin-right: 10px

input.sl-chb__active + label
	cursor: pointer
	font-size: 16px
	color: #0f0f0f
	&:hover
		color: #f57900

input.sl-chb__active:checked + label span
	background-color: #74a90f
	border: none
	background: #74a90f url('../img/check.svg') no-repeat center

#checkboxes-city label
	margin-bottom: 10px
	&:first-child
		margin-top: 10px

.catalog-sidebar__bottom
	border: 2px solid #ff7e00
	border-radius: 2px
	width: 280px
	position: relative
	left: -20px
	margin-bottom: 60px
form.find-ads
	padding-left: 20px
	padding-top: 30px
	padding-bottom: 30px
	padding-right: 20px
	.jq-selectbox__select-text
		font-size: 18px
		color: #0f0f0f
		cursor: pointer
	.jq-selectbox__dropdown
		position: static
		ul
			padding-left: 0
			margin: 0
			max-height: 1000px !important
		li
			cursor: pointer
			color: #0f0f0f
			font-size: 15px
			&:hover
				color: #f57900
	.jq-selectbox.jqselect
		padding-right: 20px
	.multiselect
		width: 200px
		#SelectCheckActive
			font-family: $HelveticaRoman
			font-size: 18px
			color: #0f0f0f
			font-weight: normal
.find-select__type,
.find-select__city
	padding-bottom: 10px
	cursor: pointer
.find-select__category
	cursor: pointer
.find-select__type,
.find-select__category
	&:hover
		.jq-selectbox__select-text
			color: #f57900
.find-select__category
	padding-bottom: 20px
.find-price
	.price-title__text
		display: inline-block
		font-size: 18px
		color: #0f0f0f
		cursor: pointer
	.findprice__open
		display: inline-block
		cursor: pointer
		position: relative
		top: -2px
		svg path
			fill: $GrayColor
	&:hover 
		.findprice__open svg path
			fill: #f57900
		.price-title__text
			color: #f57900
	.find-price__field
		input
			width: 100%
			outline: none
			height: 50px
			border: 1px solid $GrayColor
			border-radius: 2px
			padding-left: 20px
		label
			font-size: 13px
			font-family: $HelveticaMedium
			color: #0f0f0f


.show-all__ads
	button
		width: 280px
		position: absolute
		left: -2px
		top: 100%
		border-radius: 2px
		&:hover
			opacity: 0.8
	.button-icon 
		position: relative
		top: 5px
		svg path
			fill: #fff
.catalog-sidebar__category
	.find-grid
		width: 100%
		margin-bottom: 35px
		&:first-child
			margin-top: 50px
	.find-category__dropdown
		position: static
		width: auto
		margin-top: 20px
		margin-bottom: 0
	.find-dropdown__content
		margin-left: 20px
		li
			width: 100%


// Стили для каталога 
.catalog-content__icons
	padding-bottom: 30px
	padding-left: 3.333333%
	&::after
		content: ''
		clear: both
		display: block
.catalog-filter
	float: left
	&:after
		content: ''
		clear: both
		display: block
	>div
		float: left
		margin-right: 40px
		cursor: pointer
	.catalog-to__block,
	.catalog-to__list
		&:hover
			svg path
				fill: #f57900 
	.catlaog-to__price
		z-index: 2
	.catalog-to__date,
	.catalog-to__price
		position: relative
		top: 5px
		font-size: 18px
		color: $GrayColor
		max-height: 30px
		&:hover
			color: #f57900
		.jq-selectbox__dropdown
			top: 55px !important
			position: absolute
			background: #fff
			border: 1px solid $GrayColor
			width: auto !important
			padding-right: 20px
			bottom: 0
			left: -25px
			-webkit-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
			-moz-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
			box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
			ul
				padding-left: 20px
			li
				font-size: 15px
				color: #0f0f0f
				&:hover
					color: #f57900
				&:first-child
					position: absolute
					z-index: -1
					opacity: 0
			&::before,
			&::after
				bottom: 100%
				left: 50%
				border: solid transparent
				content: " "
				height: 0
				width: 0
				position: absolute
				pointer-events: none
			&::after
				border-color: rgba(255, 255, 255, 0)
				border-bottom-color: #fff
				border-width: 15px
				margin-left: -15px
			&::before
				border-color: rgba(193, 193, 193, 0)
				border-bottom-color: #c1c1c1
				border-width: 16px
				margin-left: -16px
	.catalog-to__date
		margin-right: 40px
		width: auto
		position: relative
		z-index: 1
.catalog-page
	float: right
	font-size: 18px
	color: $GrayColor
	a
		color: $GrayColor
		&:hover
			text-decoration: none
.catalog-content
	.principaly-newads__image
		border: 2px solid transparent
	.principaly-newads__container
		width: 34.783%
		padding: 0 2.173013%
		background: #fff
		margin-bottom: 15px
		padding-bottom: 10px
		margin-right: 0
		height: 300px
		&:nth-child(4n)
			margin-right: 0
		&:nth-child(3n)
			margin-right: 0
			width: 30.435%
			.principaly-newads__image,
			.principlay-newads__all
				width: 100%
			.principaly-newads__image
	.principaly-newads__container.highlighting-ads
		.principaly-newads__image
			border: 2px solid #f57900
			.highlighting-gradient
				position: absolute
				bottom: 0
				width: 100%
				padding-top: 50px
				background: -moz-linear-gradient(top, transparent 0%, #f57900 100%)
				background: -webkit-linear-gradient(top, transparent 0%,#f57900 100%)
				background: linear-gradient(to bottom, transparent 0%,#f57900 100%)
	.principaly-newads__container.vip-ads 
		background-color: #f9f9f9
		padding-top: 20px
		margin-bottom: 30px
		.vip-ads__title
			color: #fff
			font-family: $HelveticaMedium
			font-size: 13px
			width: 33px
			height: 22px
			line-height: 25px
			position: absolute
			left: 6px
			top: 7px
			text-align: center
			background: #ff7e00
			text-transform: uppercase
	.principaly-newads__image,
	.principlay-newads__all
		position: relative
		width: 86%
		overflow: hidden
		.ads-image__more
			position: absolute
			top: 10px
			right: 10px
			cursor: pointer
			svg path
				fill: #fff
.principaly-newads__content
	position: relative
	right: -20px

.catalog-all
	.bottom-partner
		position: relative
		right: -40px
		&:after
			content: ''
			clear: both
			display: block
		.bottom-partner__container	
			float: left
			width: 26.086957%
			margin-right: 8.695652%
			text-align: center
			&:nth-child(3n)
				margin-right: 0
			img
				width: 100%
.catalog-all.shop-all
	.bottom-partner
		right: -20px
	.bottom-partner__container
		width: 27.272727%
		margin-right: 6.666667%
		text-align: center
		img
			width: 84%
.principaly-newads__container.listen
	width: 100%
	margin-right: 0
	padding-bottom: 25px
	height: auto
	&.vip-ads
		margin-bottom: 0
	&:nth-child(3n)
		width: 100%
		.principaly-newads__image
			width: 200px
			margin-right: 30px
		.principlay-newads__all
			width: calc(100% - 230px)
	&::after
		content: ''
		clear: both
		display: block
	.principaly-newads__image
		width: 200px
		margin-right: 30px
		float: left
		position: relative
	.principaly-newads__title,
	.principaly-newads__info
		position: relative
		top: -10px
	.principlay-newads__all
		float: right
		width: calc(100% - 230px)
		h4
			margin-top: 10px
	.pricinaply-newads__bottom
		padding-top: 50px
.sidebar-small__title
	display: none
.filter-for__md
	display: none
.close-sidebar__small
	cursor: pointer
	position: absolute
	top: 43px
	right: 40px



.catalog-bottom__social
	position: relative
	top: -3px
	padding-top: 40px
	.catalog-social__container
		display: inline-block
		margin-right: 30px
		&:last-child
			padding-bottom: 0
	.catalog-social__icon,
	.catalog-social__number	
		display: inline-block
		cursor: pointer
	a:hover
		text-decoration: none
	.catalog-social__icon
		border-radius: 2px
		width: 24px
		height: 24px
		text-align: center
		margin-right: 5px
	.catalog-social__number
		font-size: 18px
		color: #0f0f0f
		vertical-align: middle
	.catalog-social__container:first-child
		.catalog-social__icon
			background-color: #2e63a5
	.catalog-social__container:nth-child(2)
		.catalog-social__icon
			background-color: #ea4335
			line-height: 24px
			svg path,
			svg rect
				fill: #fff
	.catalog-social__container:nth-child(3)
		.catalog-social__icon
			background-color: #31adf4
	.catalog-social__container:nth-child(4)
		.catalog-social__icon
			background: #0b7bb5
.catalog-all.social-pagination
	position: relative
	right: -40px
.social-pagination
	&:after
		content: ''
		clear: both
		display: block
	.catalog-bottom__social
		float: left
	.catalog-pagination
		float: right

.catalog-pagination
	padding-top: 40px
	ul
		list-style-type: none
		padding-left: 0
		margin-top: 0
	li
		display: inline-block
		&:last-child
			margin-right: 0
	a
		font-size: 18px
		color: $GrayColor
		&:hover
			color: #f57900
			text-decoration
	a.curentPage
		color: #0f0f0f
.close-sidebar__small
	display: none
form.find-ads 
	.jq-selectbox__select-text
		padding-right: 20px
		width: 105px
		background: url('../img/arrowdown.svg') no-repeat right
		&:hover
			background: url('../img/arrowyellow.svg') no-repeat right
.find-select__city 
	#SelectCheckActive
		padding-right: 20px
		width: auto
		background: url('../img/arrowdown.svg') no-repeat right

.filter-mobile
	span
		display: none