section.faq
  padding: 40px
  padding-top: 20px
  h2
    text-transform: uppercase
    margin-bottom: 15px
.faq-slogan
  font-size: 20px
  color: #0f0f0f
  
.faq-container
  padding-top: 20px
  .faq-question__text,
  .faq-question__opened,
  .faq-question__closed
    display: inline-block
  .faq-question
    cursor: pointer
  .faq-question__text
    font-size: 18px
    color: #669708
    letter-spacing: 0.6px
  .faq-answer
    color: #0f0f0f
    font-size: 16px
    padding-top: 25px
    display: none
