
// ======================== Стили для "Поиск по категорий" ======================== //
section.find-category
	padding: 0 40px
	padding-bottom: 0px
	h2
		padding: 25px 0
		padding-top: 25px
	.find-category__content
		position: relative
		width: 100%
		&::after
			content: ''
			clear: both
			display: block
	.find-category__dropdown
		position: relative
		top: 50px
.grid-find__large
	overflow: hidden
	position: relative
	.find-grid:first-child
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 2%
	.find-grid:nth-child(2)
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 28%
		.find-category__dropdown
			left: -133%
	.find-grid:nth-child(3)
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 55%
		.find-category__dropdown
			left: -266%
	.find-grid:last-child
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 81.5%
		.find-category__dropdown
			left: -399%
.find-category__item
	outline: none
	h3
		font-size: 20px
		color: #0f0f0f
		margin: 0
		margin-left: 5px
		line-height: 0.5px
		&:hover
			color: #ff7e00
	.find-category__title
		cursor: pointer
	.find-title__icon,
	h3
		display: inline-block
	.find-title__icon
		background-color: #ff7e00
		padding-top: 8px
		padding-left: 8px
		padding-right: 8px
		border-radius: 3px
		margin-right: 2px
.find-category__content
	&::after
		content: ''
		clear: both
		display: block
.find-grid
	float: left
	width: 20%
	margin-left: 0px
	margin-right: 0
	margin-bottom: 40px
	margin-right: 6.666667%
	font-size: 16px
	&:first-child
		margin-left: 0
	&:last-child,
	&:nth-child(4n)
		margin-right: 0
.find-grid.red-icon
	.find-title__icon
		background-color: #ff4800
.find-grid.gray-icon
	.find-title__icon
		background-color: $GrayColor
.find-grid.green-icon
	.find-title__icon
		background-color: #74a90f
.grid-md-row
	overflow: hidden
	position: relative
	&::after
		content: ''
		clear: both
		display: block
.grid-small-row
	display: block
	position: static
	width: 46.666667%
	float: left
	font-size: 0
	&:first-child
		margin-right: 6.666667%

.grid-find__small
	overflow: hidden
	position: relative
	.find-grid:first-child
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 3%
	.find-grid:last-child
		.find-category__dropdown::after,
		.find-category__dropdown::before
			left: 59.5%
		.find-category__dropdown
			left: -133%
.find-category__small
	display: none
	overflow: hidden
	.find-grid
		width: 42.857143%
		margin-right: 14.285714%
		&:nth-child(2n)
			margin-right: 0
.find-category__dropdown
	ul
		list-style-type: none
		padding-left: 0
		margin-top: 0
		&::after
			content: ''
			clear: both
			display: block
	li
		width: 20%
		float: left
		margin-left: 0
		margin-right: 6.666667%
		padding-top: 40px
		vertical-align: middle
		height: 120px
		&:nth-child(4n)
			margin-right: 0
	span.title
		color: #0f0f0f
		font-size: 18px
		display: block
		line-height: 1.2
		padding-bottom: 5px
		letter-spacing: 0.75px
		&:hover
			color: #f57900
	span.number
		display: block
		font-size: 13px
		font-family: $HelveticaMedium
		color: $GrayColor
.find-category__dropdown 
	background: #fff
	padding-right: 35px
	border-top: 1px solid #c1c1c1
	border-bottom: 1px solid #c1c1c1
	top: 50px
	padding-top: 5px
	padding-bottom: 5px
	position: relative
	left: 0px
	width: 100%
	top: 30px
	margin-bottom: 40px
	padding-top: 0
	&::before,
	&::after
		bottom: 100%
		left: 50%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
	&::after
		border-color: rgba(255, 255, 255, 0)
		border-bottom-color: #fff
		border-width: 15px
		margin-left: -15px
	&::before
		border-color: rgba(193, 193, 193, 0)
		border-bottom-color: #c1c1c1
		border-width: 16px
		margin-left: -16px
	.find-dropdown__content
		margin-left: 0px
		&::after
			content: ''
			clear: both
			display: block

