//============== Стили для футера ============.//
section.footer-information
	padding: 0px 40px
	padding-top: 0px
	&:after
		content: ''
		clear: both
		display: block
	.bottom-left__socials
		a.fb svg
			width: 22px
			height: 20px
		a.gg-plus 
			position: relative
			top: 3px
			svg
				width: 30px
				height: 26px

.footer-information__left
	float: left
	li
		padding-left: 0
	.bottom-left__links
		padding-bottom: 20px
.footer-information__right
	float: right
	.bottom-left__socials
		padding-top: 20px
footer
	padding: 0px 40px 40px 40px
.footer-text 
	max-width: 1280px
	margin: 0 auto
	padding: 0 40px
	margin-bottom: 35px
	p
		font-size: 16px
		color: $GrayColor
		line-height: 1.5
.footer-copyright
	p
		font-size: 13px
		color: #fff
		padding-bottom: 30px
footer
	margin: 0
	padding: 0
	width: 100%
	max-width: 100%
	&.to-bottom
		width: 100%
.footer-links,
.footer-copyright
	max-width: 1280px
	padding: 0 40px
	margin: 0 auto
	color: #fff
.footer-links
	padding-top: 15px
.footer-yellow
	background: #ff7e00
.footer-links
	&::after
		content: ''
		clear: both
		display: block
.footer-links__left
	float: left
	width: 70%
	ul
		list-style-type: none
		padding-left: 0
	li
		display: inline-block
		margin-right: 3.333333%
		&:last-child
			margin-right: 0
	a
		font-size: 16px
		font-family: $HelveticaRoman
		color: #fff
		text-decoration: underline
		&:hover
			text-decoration: none
.footer-links__right
	float: right
	width: 30%
	text-align: right
	position: relative
	top: 5px
	svg path,
	svg rect
		fill: #fff
	a.gg-plus
		position: relative
		top: 3px
		margin-left: 25px