*::-webkit-input-placeholder
    color: #666
    opacity: 1

*:-moz-placeholder
    color: #666
    opacity: 1

*::-moz-placeholder
    color: #666
    opacity: 1

*:-ms-input-placeholder
    color: #666
    opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
    color: #666

body input:required:valid,
body textarea:required:valid
    color: #666

html, body
    height: 100%

body
    font-size: 16px
    min-width: 320px
    position: relative
    line-height: 1.75
    font-family: $HelveticaRoman
    overflow-x: hidden
    opacity: 1
    font-weight: normal

a
    font-family: $HelveticaRoman

a:hover,
a:focus,
a:active,
a:visited
    text-decoration: none

.img-responsive
    display: block
    max-width: 100%
    height: auto

header,
section,
footer
    max-width: 1280px
    margin: 0 auto

h2
    margin: 0
    font-size: 40px
    color: #0f0f0f
    font-weight: normal
    letter-spacing: 1.5px

h3
    font-weight: normal

h4
    font-weight: normal

header.header
    padding: 40px
    &::after
        content: ''
        clear: both
        display: block

.header-content__left
    float: left
    width: 50%
    text-align: left

.header-content__right
    float: right
    width: 50%
    text-align: right

.header-content__left,
.header-content__right
    height: 40px
    > div
        display: inline-block
        vertical-align: middle

.header-content__right
    position: relative
    top: -7px

.header-free__ads
    margin-left: 20px
    margin-right: 80px
    vertical-align: bottom
    a
        font-size: 13px
        font-family: $HelveticaRoman
        color: $GrayColor
        line-height: 1.5
    span
        display: block

.header-icon__apple
    svg:hover path
        fill: #ff7e00

.header-icon__market
    margin: 0 40px
    svg:hover
        path,
        polygon
            fill: #ff7e00

.header-language
    font-size: 20px
    font-family: $HelveticaRoman
    color: $GrayColor
    position: relative
    margin-bottom: -5px
    select,
    option
        background: none
        border: none
        outline: none
    select
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        &:active,
        &:focus
            outline: none
    form
        cursor: pointer
        ul
            margin: 0
            padding-left: 20px
    .jq-selectbox
        width: 100px
    .jq-selectbox__dropdown
        background: #fff
        padding-right: 35px
        border: 1px solid #c1c1c1
        top: 50px
        padding-top: 5px
        padding-bottom: 5px
        &::before,
        &::after
            bottom: 100%
            left: 50%
            border: solid transparent
            content: " "
            height: 0
            width: 0
            position: absolute
            pointer-events: none
        &::after
            border-color: rgba(255, 255, 255, 0)
            border-bottom-color: #fff
            border-width: 15px
            margin-left: -15px
        &::before
            border-color: rgba(193, 193, 193, 0)
            border-bottom-color: #c1c1c1
            border-width: 16px
            margin-left: -16px

.header-likes,
.auth,
.add-ads
    display: inline-block

.header-likes
    margin-right: 40px
    .header-likes__icon,
    .header-likes__number
        display: inline-block
    .header-likes__icon
        margin-right: 7px
    .header-likes__number
        font-family: $HelveticaRoman
        font-size: 16px
        color: $GrayColor
        position: relative
        top: -5px
    svg path
        fill: #c1c1c1
    a:hover,
    a:focus,
    a:active
        .header-likes__icon svg path
            fill: #f57900
        .header-likes__number
            color: #f57900

.auth
    margin-right: 25px
    .auth-login__icon,
    .auth-login__name
        display: inline-block
    .auth-login__icon
        margin-right: 7px
    .auth-login__name
        margin-left: 0px
        color: #0f0f0f
        font-size: 16px
        font-family: $HelveticaRoman
        position: relative
        top: -5px
    svg g path
        fill: #fff
        stroke: $GrayColor
        stroke-width: 15px
    a:hover,
    a:focus
        svg g path
            fill: #f57900
            stroke: #f57900

.add-ads
    span.add-plus
        position: relative
        top: 5px
        margin-right: 7px
    a
        height: 55px
        width: 245px
        text-align: center
        background: #7bad1b
        border: none
        color: #fff
        font-size: 16px
        font-family: $HelveticaRoman
        border-radius: 2px
        text-decoration: none
        &:hover
            text-decoration: none
            color: #fff


