.index-image
  background: url('../img/index-bg.jpg') no-repeat center
  background-size: cover
  margin: 0
  margin-top: 35px
  max-width: 100%
  &__content
    padding: 0 40px
    max-width: 1280px
    margin: 0 auto
    text-align: center
  &__paragraph
    color: #0f0f0f
    font-size: 20px
    font-family: $HelveticaRoman
    padding-bottom: 10px
  a
    color: #fff
  span.add-plus
    position: relative
    top: 5px
  .index-image__button
    padding-bottom: 500px