section.my-operations
  padding: 0 40px

.my-operations__slogan
  font-size: 16px
  color: #0f0f0f
  margin-top: 25px
  margin-bottom: 35px
.my-operations__add
  &::after
    content: ''
    clear: both
    display: block
form.add-balance
  float: left
  label
    font-size: 13px
    font-family: $HelveticaMedium
    color: #0f0f0f
    display: block   
  input
    outline: none
    border: 1px solid $GrayColor
    border-radius: 2px
    padding-left: 20px
    width: 240px
    height: 55px
    margin-right: 5px
    @include placeholder
      font-size: 16px
      color: $GrayColor      
  button
    background-color: #74a90f
    border-radius: 2px
    outline: none
    height: 55px
    border: none
    font-size: 16px
    color: #fff
    position: relative
    top: -1px
.my-balance
  float: right
  position: relative
  top: 15px
  margin-right: 9%
  span:first-child
    font-size: 13px
    font-family: $HelveticaMedium
    color: #0f0f0f
    display: block
  span:last-child
    font-size: 30px
    color: #669708

.bazar-table
  margin-top: 50px
  margin-bottom: 50px
  min-height: 385px
  table
    width: 100%
  .bazar-table__top
    td
      font-size: 13px
      color: #0f0f0f
      font-family: $HelveticaMedium
  td:first-child
    padding-left: 1.5%
  td:first-child,
  td:nth-child(2)
    width: 13.333333%
  td:nth-child(3),
  td:nth-child(4)
    width: 26.666667%
  td:last-child
    width: 20%
  td
    font-size: 16px
    color: #0f0f0f
  .bazar-table__bottom
    margin-top: 5px
    td
      padding: 15px 0
    tr:nth-child(2n+1)
      background: #f9f9f9
