section.my-advertisement
  padding: 0 40px
  margin-top: 27px
.my-ads__content
  margin-top: 30px
.my-ads__container
  padding-bottom: 40px
  overflow: hidden
  &::after
    content: ''
    clear: both
    display: block
  .my-ads__image
    float: left
    width: 16.666667%
    margin-right: 3.333333%
    overflow: hidden
    position: relative
    img
      width: 100%
    .ads-image__more
      position: absolute
      top: 10px
      right: 10px
      cursor: pointer
      svg path
        fill: #fff
  .my-ads__title,
  .my-ads__information,
  .my-ads__price,
  .my-ads__actions
    float: right
    width: 80%
  .my-ads__title
    white-space: nowrap
    position: relative
    top: 5px

    h4
      margin-top: 0px
      font-size: 20px
      color: #0f0f0f
      margin-bottom: 0
      line-height: 1.2
  .my-ads__information
    font-size: 13px
    color: $GrayColor
    font-family: $HelveticaMedium
    margin-top: 15px
    &::after
      content: ''
      clear: both
      display: block
    .ads-information__city
      float: left
    .ads-information__date
      float: right
  .my-ads__price
    color: #669708
    font-size: 20px
    font-family: $HelveticaMedium
    padding-bottom: 10px
  .my-ads__actions
    &::after
      content: ''
      clear: both
      display: block
    .ads-actions__edit,
    .ads-actions__hide,
    .ads-actions__delete
      float: left
      margin-right: 3.333333%
    .ads-actions__delete
      margin-right: 0
    .ads-actions__up
      float: right
      position: relative
      top: -10px
    a
      font-size: 18px
      color: $GrayColor
    .ads-actions__edit,
    .ads-actions__hide,
    .ads-actions__delete,
    .ads-actions__up
      svg path
        fill: $GrayColor
      &:hover
        a
          color: #f57900
        svg path
          fill: #f57900
  .actions-edit__icon,
  .actions-hide__icon,
  .actions-delete__icon,
  .actions-up__icon
    position: relative
    top: 5px
  .actions-up__icon
    top: 8px
  .ads-actions__up
    a
      color: #f57900
  .ads-option__price
    display: none
    float: left
    width: 100%
    position: relative
    &::after
      content: ''
      clear: both
      display: block
    .ads__actions
      width: 100%   
      padding-top: 0
      cursor: pointer
      margin-bottom: 25px
      position: relative
      z-index: 3
      span:first-child
        position: relative
        top: 5px
        margin-right: 5px
        svg path 
          fill: $GrayColor
      span:last-child
        font-size: 18px
        color: $GrayColor
      &:hover
        span:first-child
          svg path
            fill: #f57900
        span
          color: #f57900
    .ads-option__dropdown
      display: none
    .my-ads__price
      position: absolute
      text-align: right
      top: 0
      padding-bottom: 0 
      display: block
  .ads-option__dropdown
    position: relative
    top: -15px
    ul
      padding-left: 0
      margin-top: 0
      list-style-type: none
    a
      font-size: 18px
      color: $GrayColor 
      &:hover
        color: #f57900
    li
      margin-bottom: 10px
    li:last-child
      margin-bottom: 0
      a
        color: #f57900
    li:first-child
      a span:first-child svg
        position: relative
        left: 6px
    li:last-child
      a span:last-child
        position: relative
        top: 10px
    a
      &::after
        content: ''
        clear: both
        display: block
      &:hover
        span:first-child
          svg path
            fill: #f57900
      span:first-child
        float: left
        width: 30px
        margin-right: 10px
        svg path
          fill: $GrayColor
      span:last-child
        float: right
        width: calc(100% - 40px)
.my-ads__titlebig
  line-height: 40px
  &::after
    content: ''
    clear: both
    display: block
  .add-title__left
    float: left
    width: 40%
  .add-title__right
    float: right
    width: 60%
    text-align: right
    div
      display: inline-block
      margin-right: 10px
      cursor: pointer
      &:last-child
        margin-right: 0
.add-title__right
  .catalog-to__date,  
  .catalog-to__price,
  .catalog-to__filter
    position: relative
    top: 5px
    font-size: 18px
    color: $GrayColor
    max-height: 30px
    &:hover
      color: #f57900
    .jq-selectbox__dropdown
      top: 55px !important
      position: absolute
      background: #fff
      border: 1px solid $GrayColor
      width: auto !important
      padding-right: 20px
      bottom: 0
      left: -25px
      -webkit-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
      -moz-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
      box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
      text-align: left
      ul
        padding-left: 20px
      li
        font-size: 15px
        color: #0f0f0f
        line-height: 1.5
        &:hover
          color: #f57900
        &:first-child
          position: absolute
          z-index: -1
          opacity: 0
      &::before,
      &::after
        bottom: 100%
        left: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      &::after
        border-color: rgba(255, 255, 255, 0)
        border-bottom-color: #fff
        border-width: 15px
        margin-left: -15px
      &::before
        border-color: rgba(193, 193, 193, 0)
        border-bottom-color: #c1c1c1
        border-width: 16px
        margin-left: -16px
  .jq-select-multiple select, 
  .jq-selectbox select
    width: 100%