// ============== Стили для страницы Новостей ========//

section.news
	padding: 0 40px 55px 40px

.sectionews-title
	line-height: 60px
	&::after
		content: ''
		clear: both
		display: block
	h2
		float: left
		width: 70%
	a
		float: right
		width: 30%
		color: #f57900
		font-size: 20px
		font-family: $HelveticaRoman
		text-align: right
		&:hover
			opacity: 0.8
	span
		text-decoration: underline
		display: inline-block
		margin-right: 10px
	img
		display: inline-block


.news-content
	&::after
		content: ''
		clear: both
		display: block
.news-container
	margin-top: 25px
	width: 46.666667%
	margin-right: 6.6666667%
	float: left
	&:last-child
		margin-right: 0
	&__image
		width: 100%
		height: 350px
		overflow: hidden
	&__href
		color: #0f0f0f
		font-size: 20px
		font-family: $HelveticaRoman
		cursor: pointer
		margin-top: 10px
		line-height: 1.1
		height: 40px
		overflow: hidden
		letter-spacing: 1.2px
	&__date
			font-family: $HelveticaMedium
			font-size: 13px
			color: $GrayColor
			padding-top: 15px
	&__link:hover
		.news-container__href
			color: #f57900
