// Стили для галерии объявлений на главное

section.newads-pricipaly
	padding: 0 40px
	h2
		margin-bottom: 30px
	.principaly-newads__content
		right: 0
	.newads-principaly__title
		line-height: 70px
		&::after
			content: ''
			clear: both
			display: block
		h2
			float: left
			width: 70%
		a
			float: right
			width: 30%
			text-align: right
			color: #f57900
			font-size: 20px
			font-family: $HelveticaRoman
			&:hover
				opacity: 0.8
		span
			display: inline-block
			text-decoration: underline
		img
			margin-left: 10px
			display: inline-block
.left-arrow,
.right-arrow
	display: none
.principaly-newads__content
	&:after
		content: ''
		clear: both
		display: block
	.principaly-newads__container
		float: left
		width: 20%
		margin-right: 6.666667%
		overflow: hidden
		padding-bottom: 40px
		&:nth-child(4n)
			margin-right: 0
	.principaly-newads__image
		max-height: 180px
		overflow: hidden
		position: relative
		img
			width: 100%
		.ads-image__more
			position: absolute
			top: 10px
			right: 10px
			cursor: pointer
			svg path
				fill: #fff
	h4
		margin-top: 20px
		margin-bottom: 0px
		position: relative
		&::after
			content: ''
			position: absolute
			right: -20px
			top: 0
			height: 100%
			background: linear-gradient(to right, transparent 0% , white 70% , transparent 60% )
			width: 60px
	a
		font-size: 18px
		color: #0f0f0f
		white-space: nowrap
		&:hover
			color: #f57900
	.principaly-newads__info
		position: relative
		top: 0px
		font-size: 13px
		font-family: $HelveticaMedium
		color: $GrayColor
		&::after
			content: ''
			clear: both
			display: block
	.principaly-info__city
		float: left
	.principaly-info__date
		float: right
	.pricinaply-newads__bottom
		padding-top: 5px
		&::after
			content: ''
			clear: both
			display: block
	.newads-bottom__price
		font-size: 20px
		color: #669708
		font-family: $HelveticaMedium
		float: left
		position: relative
		top: -5px
	.newads-bottom__like
		float: right
		cursor: pointer
		width: 24px
		height: 24px
		background: url('../img/likestroke.svg') no-repeat center
		&:hover
			background: url('../img/likestroke-hover.svg') no-repeat center
		&.active
			background: url('../img/heart-galery.svg') no-repeat center
			&:hover
				background: url('../img/heart-galery.svg') no-repeat center
		svg path
			fill: $GrayColor
		&:hover
			svg path
				fill: #f57900
.pricipaly-newads__all
	text-align: right
	a
		font-size: 20px
		color: #f57900
		text-decoration: underline
		&:hover
			text-decoration: none
.swiper-button-next,
.swiper-button-prev
	display: block