section.news-page
  padding: 0 40px 
  padding-top: 1px
  .catalog-pagination 
    text-align: right
    ul
      margin-bottom: 0
.news-content__page
  &::after
    content: ''
    clear: both
    display: block
  .news-container
    width: 46.666667%
    margin-right: 6.666667%
    float: left
    margin-top: 23px
    &:nth-child(2n)
      margin-right: 0
  .news-container__href
    font-size: 20px
    height: 50px
    line-height: 1.2
    margin-bottom: 10px
    letter-spacing: 0.6px
    a
      color: #0f0f0f
      &:hover
        color: #f57900
  .news-container__date
    font-size: 13px
    font-family: $HelveticaMedium
    color: $GrayColor
