// Стили для добавление объявление
.newadd
	padding: 20px 40px 60px 40px
	padding-top: 15px
	.newadd-title
		padding-bottom: 23px
.general-fields
	.sec-field__cb
		float: left
		line-height: 55px
		width: 68.333333%
		div:first-child
			width: 33%
		div:last-child
			width: 53%
.newadd-content 
	.general-field__container.field-example
		width: calc(100% - 640px)
		margin-right: 0
	.field-selectcity
		.jq-selectbox__dropdown 
			ul
				padding-left: 0
			li
				padding-left: 40px
				&:hover
					background: #f9f9f9
					color: #f57900

.newadd-content
	.general-fields
		&::after
			content: ''
			clear: both
			display: block
	.general-field__container
		margin-right: 6.666667%
		float: left
	.field-addadvform-email,
	.field-addadvform-area_id
		margin-right: 0
	.field-addadvform-email
		width: calc(100% - 640px)
	input,
	.jq-selectbox__select
		height: 50px
		border: 1px solid $GrayColor
		border-radius: 2px
		color: #0f0f0f
		font-size: 16px
		padding-left: 20px
		width: 100%
		outline: none
		margin-top: 2px
		@include placeholder
			color: $GrayColor
		.jq-selectbox__select-text
			padding-top: 8px
			color: $GrayColor
	.jq-selectbox
		width: 100%
		cursor: pointer
	label
		font-size: 13px
		color: #0f0f0f
		font-family: $HelveticaMedium
		display: block
		letter-spacing: 0.6px
	.jq-selectbox__dropdown
		background: #fff
		padding-right: 35px
		border: 1px solid #c1c1c1
		top: 0px !important
		padding-top: 5px
		padding-bottom: 5px
		padding-right: 0
		width: 240px !important
		-webkit-box-shadow: 0px 0px 18px 1px rgba(193,193,193,0.7)
		-moz-box-shadow: 0px 0px 18px 1px rgba(193,193,193,0.7)
		box-shadow: 0px 0px 18px 1px rgba(193,193,193,0.7)
		ul
			margin: 0

		::-webkit-scrollbar-button 
			background-image: url('')
			background-repeat: no-repeat
			width: 2px
			height: 0px
		

		::-webkit-scrollbar-track 
			background-color: #fff
		
		::-webkit-scrollbar-thumb 
			-webkit-border-radius: 0px
			border-radius: 0px
			background-color: #c3c3c3
			
		::-webkit-scrollbar-thumb:hover
			background-color: #c1c1c1

		::-webkit-resizer
			background-image: url('')
			background-repeat: no-repeat
			width: 2px
			height: 0px

		::-webkit-scrollbar
			width: 2px
	textarea
		width: 100%
		resize: none
		height: 250px
		border: 1px solid $GrayColor
		border-radius: 2px
		font-size: 16px
		color: #0f0f0f
.field-select
	.jqselect
		background: url('../img/arrowdown.svg') no-repeat 95%
	.jq-selectbox__dropdown
		li:hover
			color: #f57900
.add-detailes__title
	cursor: pointer
	h3
		color: #669708
		font-size: 20px
		display: inline-block
		margin-right: 10px
		margin-top: 0
.ads-detailes__closed,
.ads-detailes__open
	display: inline-block
	position: relative
	top: -3px
.select-category__ads
	&::after
		content: ''
		clear: both
		display: block
	.ads-category,
	.ads-category__submenu,
	.category-submenu__drpd,
	.category-drpd__last
		width: 25%
		border: 1px solid $GrayColor
		border-radius: 0px
		float: left
		ul
			padding-left: 0
		li
			padding-left: 20px
			&:hover
				background-color: #f9f9f9
		
	ul
		padding-left: 20px
		list-style-type: none
	li
		margin-bottom: 3px
		font-size: 16px
		color: #0f0f0f
		padding-bottom: 5px
		cursor: pointer
		&:hover
			color: #f57900
		&.active
			color: #669708
.detailes-ofselect__category
	margin-top: 35px
	&:after
		content: ''
		clear: both
		display: block
	.category-field
		width: 20%
		margin-right: 6.666%
		float: left
		&:nth-child(4)
			margin-right: 0
		&:last-child
			margin-top: 35px
			margin-bottom: 35px
	.select-make,
	.select-model
		background: url('../img/arrowdown.svg') no-repeat 95%
		li:first-child
			position: absolute
			z-index: -1
			opacity: 0
		li.any
			color: $GrayColor
		li
			padding-left: 20px
		ul
			max-height: 290px
			padding-left: 0
		li:hover
			color: #f57900
			background-color: #f9f9f9

.type-body
	&::after
		content: ''
		clear: both
		display: block
	.type-fields
		overflow: hidden
	input[type='radio']
		opacity: 0
		position: absolute
		z-index: -1
		width: 20px
	input:checked + label
		color: #fff
	.type-field
		float: left
		width: 25%
		margin: 0
		padding: 0
		height: 60px
		text-align: left
		border-right: 1px solid $GrayColor
		position: relative
		&:hover
			opacity: 0.8
		input[type='radio']
			opacity: 0
			position: absolute
			z-index: 1
			width: 300px
			cursor: pointer
		&:first-child 
			label
				@include spritebox(-0px, -0px)
		&:nth-child(2) 
			label
				@include spritebox(-0px, -39px)
		&:nth-child(3) 
			label
				@include spritebox(-0px, -78px)
		&:nth-child(4)
			border-right: none 
			label
				@include spritebox(-0px, -120px)
		&:nth-child(5)
			border: 1px solid $GrayColor 
			border-left: none
			label
				@include spritebox(-0px, -164px)
		&:nth-child(6)
			border: 1px solid $GrayColor 
			border-left: none
			label
				@include spritebox(-0px, -200px)
		&:nth-child(7)
			border: 1px solid $GrayColor 
			border-left: none
			label
				@include spritebox(-0px, -240px)
		&:nth-child(8)
			border: 1px solid $GrayColor 
			border-left: none
			border-right: none
			label
				@include spritebox(-0px, -279px)
		&:nth-child(9) 
			label
				@include spritebox(-0px, -318px)
		&:nth-child(10) 
			label
				@include spritebox(-0px, -359px)
		&:nth-child(11) 
			label
				padding-bottom: 2px
				@include spritebox(-0px, -398px)
		&:nth-child(12)
			label
				@include spritebox(-0px, -440px)
				padding-top: 5px
				padding-bottom: 5px
	label
		font-size: 16px
		color: #0f0f0f
		padding-left: 28.125%
		text-align: left
		display: inline-block
		margin-left: 18.75%
		margin-top: 15px
		cursor: pointer
		margin-bottom: 10px
	.type-body__title,
	.transmission-field__title,
	.color-field__title,
	.range-title
		font-size: 13px
		font-family: $HelveticaMedium
		color: #0f0f0f
		margin-bottom: 5px
		letter-spacing: 0.6px

.transmission
	font-size: 0
	.transmision-field
		display: inline-block
		height: 50px
		line-height: 50px
		text-align: center
		border: 1px solid $GrayColor 
		border-right: none
		&:hover
			opacity: 0.8
		&:last-child
			border-right: 1px solid $GrayColor
		label
			padding-left: 0
			margin-left: 0
			margin-top: 0
			margin-bottom: 0
			padding: 0 15px
			font-family: $HelveticaRoman
.color-fields
	.color-field
		display: inline-block
		margin-right: 20px
		&:last-child
			margin-right: 0
		label
			margin: 0
			padding: 0
			span
				width: 24px
				height: 24px
				border-radius: 1px
				display: inline-block
				margin-right: 5px
				position: relative
				top: 5px
				border-radius: 2px
.color-field
	margin-bottom: 20px
	&:first-child span
		background-color: #e91010
	&:nth-child(2) span
		background-color: #974b00
	&:nth-child(3) span
		background-color: #ff7e00
	&:nth-child(4) span
		background-color: #f1ddba
	&:nth-child(5) span
		background-color: #ffc600
	&:nth-child(6) span
		background-color: #74a90f
	&:nth-child(7) span
		background-color: #78c5f3
	&:nth-child(8) span
		background-color: #3144b6
	&:nth-child(9) span
		background-color: #7f00ff
	&:nth-child(10) span
		background-color: #c400aa
	&:nth-child(11) span
		background-color: #ff9cba
	&:nth-child(12) span
		background-color: #fff
		border: 1px solid $GrayColor
	&:nth-child(13) span
		background-color: $GrayColor
	&:nth-child(14) span
		background-color: #000
	&:nth-child(15) span
		background-color: #fce9cc
	&:nth-child(16) span
		background-color: #ebebea
.color-field__title
	margin-top: 30px
.color-field input:checked + label
	color: #0f0f0f
.color-field:hover 
	opacity: 1 !important
.color-field:hover label
	color: #f57900

.range-field
	input.rangefield
		width: 50%
		display: block
		-webkit-appearance: none
		border-radius: 8px
		height: 1px
		border: 1px solid $GrayColor
		background-color: $GrayColor
		padding-left: 0
		position: relative
		&::before
			content: ''
			width: 20px
			height: 20px
			border-radius: 50%
			background-color: #fff
			border: 1px solid $GrayColor
			position: absolute
			top: -10px
	input[type='range']::-webkit-slider-thumb
		-webkit-appearance: none
		background-color: #ffffff
		border: 1px solid $GrayColor
		width: 20px
		height: 20px
		border-radius: 10px
		cursor: pointer
	.irs-min
		display: none
	.irs-max
		opacity: 0
	.irs-bar-edge,
	.irs-bar,
	.irs-line
		height: 1px
		cursor: pointer
		&:before
			content: ''
			position: absolute
			display: block
			top: -30px
			left: -30px
			right: -30px
			bottom: -30px
			width: 50vw
	.irs-slider
		width: 20px
		height: 20px
		top: 23px
		box-shadow: none
		background: #fff	
		z-index: 3
	.irs-slider.single,
	.irs-bar
		transition: all ease 0.5s
	.irs-bar
		border-top: 1px solid #74a90f
		border-bottom: 1px solid #74a90f
		background: #74a90f
	.irs-bar-edge
		border: 1px solid #74a90f
		background: #74a90f
	.irs.js-irs-0
		width: 50%
	.irs-line
		width: 100%
	.irs-single
		display: none
	.irs-bar
	input#textInput
		width: auto
		display: inline-block
		border: none
		outline: none
		background-color: transparent
	.range-title
		display: inline-block
	.irs-from,
	.irs-single,
	.irs-to
		background-color: #669708

.sec-parametr__title
	display: inline-block
	cursor: pointer		
	h4
		font-size: 16px
		color: #669708
		margin-top: 0
		margin-right: 5px
		display: inline-block
		margin-top: 30px
		margin-bottom: 8px
.sec-parametr__open,
.sec-parametr__closed
	display: inline-block
	cursor: pointer
	position: relative
	top: -2px
.secundar-parametrs
	padding-top: 20px
.sec-parametr__radio 
	vertical-align: top
	width: 17px
	height: 17px
	margin: 0 3px 0 0

.sec-parametr__radio
	display: none
.sec-parametr__radio + label span,
.sec-parametr__radio + label span
	display: inline-block
	width: 24px
	height: 24px
	margin: -1px 4px 0 0
	vertical-align: middle
	border-radius: 2px
	cursor: pointer
	border: 1px solid $GrayColor
	margin-right: 10px
	border-radius: 50%
	position: relative
	top: -2px
.sec-parametr__radio + label,
.sec-parametr__radio + label
	cursor: pointer
	font-size: 16px
	color: #0f0f0f
	margin-top: 5px
	&:hover
		color: #f57900
.sec-parametr__radio:checked + label span,
.sec-parametr__radio:checked + label span
	background-color: #74a90f
	border: none
	background: #74a90f url('../img/check.svg') no-repeat center
	border-radius: 50%

.sec-parametr__label
	display: block
	font-size: 13px
	font-family: $HelveticaMedium
	color: #0f0f0f
	margin-bottom: 5px
	letter-spacing: 0.6px
.sec-parametr__field
	display: inline-block
	margin-right: 40px
	&:last-child
		margin-right: 0
	label
		font-size: 16px
		font-family: $HelveticaRoman
		color: #0f0f0f
.sec-field__cb
	input
		opacity: 0
		position: absolute
		z-index: -1
	label
		font-size: 16px
		font-family: $HelveticaRoman
		color: #0f0f0f
	.sec-parametr__checkbox
		display: inline-block
		margin-right: 40px
		&:last-child
			margin-right: 0
	input
	input
		display: none
	input + label span,
	input + label span
		display: inline-block
		width: 24px
		height: 24px
		margin: -1px 4px 0 0
		vertical-align: middle
		border-radius: 2px
		cursor: pointer
		border: 1px solid $GrayColor
		margin-right: 10px
		position: relative
		top: -2px
	input + label,
	input + label
		cursor: pointer
		font-size: 16px
		color: #0f0f0f
		margin-top: 20px
		&:hover
			color: #f57900
	input:checked + label span,
	input:checked + label span
		background-color: #74a90f
		border: none
		background: #74a90f url('../img/check.svg') no-repeat center
	
.add-general
	h3
		color: #669708
		font-size: 20px
	.description-add
		margin: 30px 0
	.price-add
		width: 240px
	
.upload-photo__container
	.fileuploader
		background: #fff
		border: 1px solid $GrayColor
		padding: 0
		padding-left: 20px
		padding-bottom: 0
		padding-right: 20px
		margin-top: 0
		border-radius: 2px
	.jq-file__name,
	.jq-file__browse,
	.fileuploader-input-caption
		display: none
	.fileuploader-input-button
		background-color: $GrayColor
		padding-top: 15px
		padding-bottom: 15px
		border-radius: 2px
		span
			font-size: 16px
			font-family: $HelveticaRoman
			font-weight: normal
	.fileuploader-items-list
		padding-left: 15px
		margin-top: 15px
		&::after
			content: ''
			clear: both
			display: block
	.fileuploader-item
		width: 17.5%
		margin-right: 8.5%
		float: left
		border-bottom: 0
		padding: 0
		padding-bottom: 40px
		&:nth-child(4n)
			margin-right: 0
		.fileuploader-item-image
			canvas,
			img
				border-radius: 0


		.column-title
			padding: 0
			padding-top: 20px
			font-size: 18px
			font-family: $HelveticaRoman
			color: #0f0f0f
			font-weight: normal
			span
				font-size: 13px
				font-weight: normal
				color: $GrayColor
				font-family: $HelveticaMedium
				letter-spacing: 0.6px
		.column-actions
			position: static
			padding-bottom: 20px
			margin-top: 10px
			&:after
				content: ''
				clear: both
				display: block
	.column-thumbnail
		width: 100%
		position: static
		display: block
		height: 165px
		line-height: 0
		canvas
			width: 100%
			// transition: all ease 1s
	.remoove
		position: relative
		top: -19px
		float: right
	.fileuploader-action-remove
		background: none
		border: none
		font-size: 50px
		color: $GrayColor
		i
			display: none
	.star-upload
		cursor: pointer
	.star-upload,
	.turnleft,
	.turnright
		float: left
		margin-right: 10px
		cursor: pointer
	.turnleft
		margin-right: 5px
	.turn-right
		float: right
	.upload-container__title
		h4
			margin-bottom: 0
			font-size: 13px
			font-family: $HelveticaMedium
			color: #0f0f0f
			margin-top: 30px
			letter-spacing: 0.6px
.button-send__ads
	text-align: center
	button
		border: none
		outline: none
		border-radius: 2px
		background: #74a90f
		font-size: 16px
		color: #fff
		height: 55px
		line-height: 55px
		width: auto
		margin-top: 35px

