section.one-news
  padding: 0 40px
  padding-top: 20px
  h2
    color: #0f0f0f
    line-height: 1.2
.one-news__title
  padding-bottom: 10px
.one-news__date
  color: $GrayColor
  font-size: 13px
  font-family: $HelveticaMedium
  position: relative
  top: -5px
  padding-bottom: 15px
.one-news__content
  p
    font-size: 16px
    color: #0f0f0f
    line-height: 1.5
    letter-spacing: 0.6px
.one-news__pagination
  margin-top: 30px
  text-align: right
  margin-bottom: 40px
  div
    display: inline-block
    &:first-child
      margin-right: 10px
  a
    font-size: 18px
    font-family: $HelveticaRoman
    color: $GrayColor
    &:hover
      color: #f57900
