section.purchase
    padding: 0 40px
    padding-bottom: 37px
    margin-top: 40px
    .purchase-title
        margin-bottom: 20px
    h2
        line-height: 1.2

.purchase-container
    padding-bottom: 0px
    &:first-child
        .purchase-title
            margin-bottom: 15px
    &::after
        content: ' '
        clear: both
        display: block
    .purchase-title
        float: left
        width: 71%
        label
            font-size: 20px
            color: #0f0f0f
    .purchase-about
        float: right
        cursor: pointer
    .purchase-price
        float: left
        font-size: 20px
        font-family: $HelveticaMedium
        color: #669708

.purchase-title
    input
        display: none
    input + label span,
    input + label span
        display: inline-block
        width: 24px
        height: 24px
        margin: -1px 4px 0 0
        vertical-align: middle
        border-radius: 2px
        cursor: pointer
        border: 1px solid $GrayColor
        margin-right: 10px
        position: relative
        top: -2px
    input + label,
    input + label
        cursor: pointer
        font-size: 16px
        color: #0f0f0f
        margin-top: 20px
        &:hover
            color: #f57900
    input:checked + label span,
    input:checked + label span
        background-color: #74a90f
        border: none
        background: #74a90f url('../img/check.svg') no-repeat center

.purchase-dropdown
    display: none
    overflow: hidden
    width: 100%
    position: relative
    top: -10px
    margin-bottom: 15px
    &::after
        content: ''
        clear: both
        display: block
    &__left
        float: left
        width: 16.666667%
        margin-right: 3.333333%
        height: 150px
    &__right
        float: right
        width: 80%
        p
            font-size: 16px
            color: $GrayColor
            margin-top: 0

.purchase-action
    &::after
        content: ''
        clear: both
        display: block
    .purchase-action__total
        float: left
        width: 25%
        span:first-child
            font-size: 20px
            color: #0f0f0f
        span:last-child
            font-size: 20px
            color: #669708
            font-family: $HelveticaMedium
    .purchase-action__right
        width: 75%
        float: right
        text-align: right
        div
            display: inline-block
    .purchase-action__free:hover,
    .purchase-action__bonus:hover,
    .purchase-action__paypal:hover
        opacity: 0.8
    .purchase-action__free
        a
            color: #669708
            font-size: 18px
            background: none
            border: 0
        svg path
            fill: #669708
    .purchase-action__bonus,
    .purchase-action__paypal
        margin-left: 3.333333%
        a
            color: #f57900
            font-size: 18px
            background: none
            border: 0
        svg path
            fill: #f57900

    .purchase-action__free,
    .purchase-action__bonus,
    .purchase-action__paypal
        button
            color: #f57900
            font-size: 18px
            background: none
            border: 0
        button:active
            outline: none
            border: none
        button:focus
            outline: none
            border: none
    .purchase-action__free
        button
            color: #669708
    .purchase-free__text,
    .purchase-bonus__text,
    .purchase-paypal__text
        position: relative
        top: -5px
    //.purchase-action__right
        //button
            //display: none