$default-font       : "roboto-example", sans-serif
$HelveticaRoman     : 'HelveticaNeueRoman'
$GrayColor          :  #c1c1c1
$BlackColor         :  #0f0f0f
$HelveticaMedium    : 'HelveticaNeueMedium'
$MinionRegular      : 'MinionProRegular'
$c-orange           : #ff7e00
$c-green            : #74a90f
$c-gray             : #c1c1c1
$c-gray-light       : #f9f9f9
$c-black            : #0f0f0f
$c-copiright        : #f3f3f3

body
  height: auto


// Миксины

@mixin placeholder 
  &::-webkit-input-placeholder  
    @content 
  &:-moz-placeholder            
    @content 
  &::-moz-placeholder           
    @content 
  &:-ms-input-placeholder       
    @content   


@mixin spritebox($left, $top)
  background-image: url('../img/carbody.png')
  background-repeat: no-repeat
  background-position: $left $top