.window_notify{
    position: fixed;
    top: 40px;
    min-width: 100px;
    z-index: 10000;
    left: 45%;
    padding: 15px;
    display: none;
}
.window_notify-success{
    color: white;
    background: #4dbd74;
}
.window_notify-danger{
    color: white;
    background: #f63c3a;
}

