.tree_nodes {display: none;}
.admin_tree li{
    height: auto;
    width: auto;;
    list-style: none;
    margin: 3px 0;

}
.admin_tree_item a{
    color: white;
    text-decoration: none;
    margin: 0 5px;
}
.admin_tree_item a:hover{
    color: #dedede;
    text-decoration: none;
}
.admin_tree_item a:focus{
    color: white;
    text-decoration: none;
}
.admin_tree_item .admin_tree_item_title{
    width: 320px;
    display: inline-block;
    color: white;
    background-color: #4dbd74;
    border-color: #4dbd74;
}
.admin_tree .lvl1>li>.admin_tree_item .admin_tree_item_title, .admin_tree .lvl3>li>.admin_tree_item .admin_tree_item_title{
    background-color: #f8cb00;
    border-color: #f8cb00;
}

.admin_tree_item_body {
    border: 2px solid #4dbd74;
    width: 320px;
    padding: 10px;
    margin-top: -7px;
    display: none;
}
.admin_tree .lvl1>li>.admin_tree_item .admin_tree_item_body, .admin_tree .lvl3>li>.admin_tree_item .admin_tree_item_body{
    border-color: #f8cb00;
}
.admin_tree_item_body.active{
    display: block;
}
.admin_tree li.active>ul.tree_nodes{ display: block;}
.admin_tree_item_left_side{
    padding: 10px 20px;
    padding-right: 0;
    float: left;
}
.admin_tree_item_right_side{
    float: right;
    padding: 14px 7px 12px 10px;
    border-left: 1px solid white;
}

.hidden{
	display: none;
}
.pagination li.disabled{
	display: none;
}

.visible-desktop{
	display: block;
}
.visible-mobile{
	display: none;
}

@media (max-width: 576px)  {
	.visible-mobile{
		display: block;
	}
	.visible-desktop{
		display: none;
	}
}

.item-block{
	width: 300px;
	margin-bottom: 10px;
	padding: 5px;
}
.item-block a{
	color: white;
}

.link {
    font-size: 16px;
}

.link-large {
    font-size: 22px;
}

.link-white {
    color: white;
}

.link-hover-gray {
    color: whitesmoke;
}
.fade.in{
    opacity: 1;
}