@import "../_vars.sass"
@import "_media.sass"

.a-item
    &__head
        list-style: none
        padding-left: 0
        margin-top: 0
        margin-bottom: 50px
        line-height: 14px

        li
            color: $c-gray
            display: inline-block
            margin-right: 20px
            font-size: 14px
            @include mobile
                font-size: 14px
                line-height: 20px

    &__image
        @include tablet

    &__right
        @include tablet
            margin-top: 40px
    &__price.rect
        color: $c-green
        font-size: 30px
        line-height: 58px
        height: 58px
        position: relative
        background: $c-gray-light
        border-radius: 3px
        padding-left: 1px
        @include mobile
            color: white
            background: $c-green
            margin-top: 20px

        &::before
            left: -48px
            border: 29px solid transparent
            border-right: 20px solid $c-gray-light

            @include mobile
                border-right-color: $c-green

    &__params
        margin: 30px 0 10px
        &-field
            height: 50px
            margin-bottom: 20px
            span
                display: block
                color: $c-gray
                font-size: 13px
                line-height: 13px
                font-weight: bold
    &__contacts
        background: $c-green
        height: 58px
        line-height: 58px
        font-size: 16px
        color: white
        -webkit-border-radius: 2px
        -moz-border-radius: 2px
        border-radius: 2px
        padding-left: 24px
        margin-bottom: 5px
        cursor: pointer

        &-content
            border: 1px solid $c-gray
            padding: 15px
            box-shadow: 0 -6px 9px 0px gray
            border-radius: 2px
            position: absolute
            margin-top: 20px
            z-index: 1
            background: white
            display: none
            width: 240px

            &.active
                display: block

            .a-item__params-field
                margin-bottom: 10px

            &::after, &::before
                content: ''
                position: absolute
                background: white
                left: calc(50% - 10px)
                top: -11px
                width: 20px
                height: 20px
                box-shadow: -2px -2px 1px 0 grey
                /* Добавляем тень для уголка */
                z-index: -1
                /* Прячем за основным блоком */
                transform: rotate(45deg)
                /* Поворачиваем на 45º */
                -webkit-transform: rotate(45deg)

            &::before
                z-index: 1
                /* Накладываем поверх, чтобы скрыть следы тени */
                box-shadow: none
            /* Прячем тень */

            &_mobile
                position: fixed !important
                width: 240px !important
                bottom: 80px
                left: 20px
                box-shadow: 0 6px 9px 0 gray
                z-index: 1000

                &::after, &::before
                    content: ''
                    position: absolute
                    background: white
                    left: calc(50% - 10px)
                    top: -11px
                    width: 20px
                    height: 20px
                    box-shadow: -2px -2px 1px 0 grey
                    /* Добавляем тень для уголка */
                    z-index: -1
                    /* Прячем за основным блоком */
                    transform: rotate(45deg)
                    /* Поворачиваем на 45º */
                    -webkit-transform: rotate(45deg)
                &::after, &::before
                    top: auto
                    bottom: -10px
                    box-shadow: 2px 2px 1px 0 gray
            /* Добавляем тень для уголка */

            &_name
                text-align: center
            &_date
                font-size: 12px
                line-height: 12px
                color: $c-gray
                text-align: center

        @include mobile
            display: none

        svg
            position: relative
            top: 5px
            margin-right: 5px

    &__link
        padding-left: 24px
        margin-bottom: 20px
        @include mobile
            padding-left: 0px

        a
            color: $c-black

            svg
                position: relative
                top: 5px
                font-size: 24px
                margin-right: 5px

            &:hover
                text-decoration: none

        &-orange
            a
                color: $c-orange
    &__content
        margin-top: 20px

    &__mobile
        display: none
        @include mobile
            display: block
            &-footer
                z-index: 100
                display: block
                position: fixed
                bottom: 0
                left: 0
                background: white
                border-top: 1px solid $c-gray
                width: 100%

            &-item
                display: inline-block
                width: 49%
                height: 100%
                padding: 10px 20px
                line-height: 19px
                font-size: 15px
                color: $c-black

                &_green
                    color: $c-green
                    &:focus, &:hover
                        color: $c-green
                        text-decoration: none

                svg
                    font-size: 35px
                    margin-right: 10px
                    position: relative
                    top: 5px

                span
                    width: 80px
                    display: inline-block
                &:nth-child(1)
                    border-right: 1px solid $c-gray

    &-image-cover
        position: absolute
        display: block
        top: -3px
        left: -3px
        right: -3px
        bottom: -3px
        background: center no-repeat
        background-size: cover
        -webkit-filter: blur(13px)
        filter: blur(13px)
        opacity: .4

        @include mobile
            display: none

    &-image-horisontal
        display: flex
        justify-content: center
        width: 560px
        height: 372px
        @include mobile
            width: 100%
            height: 220px

    &-image-vertical
        display: flex
        flex-direction: column
        justify-content: center
        @include mobile
            width: 100%

        img
            width: 100%