@import "../_vars.sass"
@import "_media.sass"

.add-adv
    &__breadcrumbs
        list-style: none
        padding: 0px
        margin: 0px
        border: 1px solid $c-green
        border-radius: 2px
        display: inline-block

        li
            display: inline-block
            padding: 0
            margin: 0
            a
                padding-left: 30px
                color: $c-green
                line-height: 30px
                height: 30px
                display: block
                position: relative
                z-index: 1
                padding-right: 45px

                &::after, &::before
                    content: ''
                    position: absolute
                    right: -12px
                    border: 15px solid transparent
                    border-left: 12px solid $c-green
                    top: 0

                &::after
                    border-left: 12px solid #fff
                    right: -11px

                &.active
                    color: white
                    background: $c-green
                    padding-right: 25px
                    &::before
                        right: -27px
                    &::after
                        display: none


            &:last-child
                a
                    padding-right: 20px
                    &::after, &::before
                        display: none
