@import "../_vars.sass"
@import "_media.sass"

.admin-panel
    width: 100%
    position: fixed
    background: #1d1d1d
    color: white
    z-index: 500
    top: 0

    ul
        padding: 0
        list-style:  none
        margin: 5px 10px

        li
            display: inline-block
            margin-right: 15px
            a
                display: block
                color: white
                i
                    display: inline-block
                    line-height: 18px
                    padding: 1px 6px
                    border: 1px solid white
                    border-radius: 3px
                    margin: 3px 5px

                &:hover
                    span
                        text-decoration: underline
                    i
                        color: black
                        background: white

                @include mobile
                    span
                        display: none