@import "../_vars.sass"
@import "_media.sass"

h1, h2, h3, h4
    font-family: HelveticaNeueRoman
    font-weight: normal
    margin-bottom: 10px
    margin-top: 20px

h1
    font-size: 40px
    line-height: 40px
h2
    text-align: left
    @include mobile
        text-align: center
a
    color: $c-orange
    &:hover
        color: $c-orange
        //text-decoration: underline

.padding-right-40
    padding-right: 40px
    @include mobile
        padding-right: 15px
    @include tablet
        padding-right: 15px
.padding-left-40
    padding-left: 40px
    @include mobile
        padding-left: 15px
    @include tablet
        padding-left: 15px

body
    ::selection
        background: $c-green
        color: white
