@import "../_vars.sass"

.banner
  &-place
    height: 150px
    text-align: center
    line-height: 150px
    border: 1px solid $c-orange
    display: block
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px

    &:hover
      background: $c-orange
      color: white
