@import "../_vars.sass"
.breadcrumb-wrapper
    padding: 0 40px
    margin-top: 10px

ul.breadcrumb
    background: none !important
    margin-bottom: 0px !important
    padding: 0

    > li + li:before
        content: ' ' !important
        background: url("../img/breadcrumbRight.svg") no-repeat 50% 50%
        margin-right: 10px

    li
        margin-right: 10px
        a
            font-size: 16px
            color: $c-gray