@import "../_vars.sass"
.btn-group
    label.btn-group-item
        display: inline-block
        padding: 0px 15px
        border: 1px solid #c1c1c1
        color: black
        font-weight: normal
        margin-left: -1px
        cursor: pointer
        height: 50px
        line-height: 50px
        font-size: 16px
        font-family: HelveticaNeueRoman

        input
            opacity: 0
            width: 1px
            height: 1px

        &:hover
            background: #fbfafa
        &.active
            color: white
            background: #74a90f
            border-color: $c-green
