@import "../_vars.sass"
.btn
  border: none
  outline: 0
  -webkit-border-radius: 2px
  border-radius: 2px
  font-size: 16px
  color: #fff
  height: 55px
  line-height: 55px
  padding: 0 30px
  display: inline-block
  text-decoration: none
  text-align: center
  position: relative

  i
    font-size: 18pt
    margin-right: 5px
    vertical-align: middle

  &:hover
    color: white
    text-decoration: none
  &:focus
    color: white
    text-decoration: none

  &--small
    height: 45px
    line-height: 45px

  &--full
    display: block
    width: 100%

  &--green
    background: $c-green
    &:hover
      opacity: 0.8

  &--orange
    background: $c-orange
    color: #fff
    &:hover
      opacity: 0.8

  &--big
    width: 245px

  &--field
    height: 50px
    line-height: 50px

  .icon
    fill: #fff
    padding-right: 10px
    font-size: 30px
    vertical-align: middle
    margin-top: -5px

    &:hover
      fill: white !important

    &--right
      padding-right: 0
      padding-left: 10px