@import "../_vars.sass"
@import "_media.sass"

.catalog-item
    width: 280px
    height: 280px
    overflow: hidden
    display: block
    margin: 0 auto
    margin-bottom: 40px

    &__main
        display: block
        height: 300px

    &__image
        position: relative
        overflow: hidden
        svg
            position: absolute
            top: 5px
            right: 5px
        img
            width: 100%



    &__title
        display: block
        color: $c-black
        margin-top: 10px
        text-align: left
        max-height: 25px
        overflow: hidden

    &__params
        &>div
            width: 49%
            display: inline-block

        &-city
            color: $c-gray
            font-size: 12px
            text-align: left
            @include mobile
                display: none !important
        &-date
            color: $c-gray
            font-size: 12px
            text-align: right
            @include mobile
                display: none !important

        &-price
            color: $c-green
            font-size: 20px
            text-align: left

        &-favorite
            color: $c-orange
            text-align: right

    &__vip
        color: #fff
        font-family: HelveticaNeueMedium
        font-size: 13px
        width: 33px
        height: 22px
        line-height: 25px
        position: absolute
        left: 6px
        top: 7px
        text-align: center
        background: $c-orange
        text-transform: uppercase

    &__color
        img
            border: 2px solid $c-orange
        &-gradient
            position: absolute
            bottom: 0
            width: 100%
            padding-top: 50px
            background: -webkit-linear-gradient(top,transparent 0,$c-orange 100%)
            background: -webkit-gradient(linear,left top,left bottom,from(transparent),to($c-orange))
            background: -o-linear-gradient(top,transparent 0,$c-orange 100%)
            background: linear-gradient(to bottom,transparent 0,$c-orange 100%)

    &__premium
        background: rgba(255, 126, 0, 0.05)

    &.catalog-view
        width: 240px
        display: inline-block
        //padding: 10px 30px 10px 30px
        margin: 10px 40px
        &:nth-child(3n)
            margin-right: 0px
            @include mobile
                margin-right: 40px
        &:nth-child(3n+1)
            margin-left: 0px
            @include mobile
                margin-left: 40px
