@import "../_vars.sass"
.category-item
  cursor: pointer
  color: black
  &:hover
    .category-item__text
      color: $c-orange

  &__icon
    display: inline-block
    color: white
    height: 35px
    width: 35px
    background: $c-orange
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px
    text-align: center
    line-height: 40px
    margin-right: 5px

    &.green-icon
      background: $c-green
    &.red-icon
      background: #ff4800
    &.gray-icon
      background: $c-gray


  &__text
    display: inline-block
    font-size: 16pt
