@import "../_vars.sass"

.cb-styled.jq-checkbox
    .jq-checkbox__div
        width: 24px
        border: 1px solid $c-gray
        border-radius: 2px
        height: 24px
    input:checked + .jq-checkbox__div
        background: $c-green url('../../img/check.svg') no-repeat center
        border: 1px solid $c-green

.cb-styled-field
    label
        position: relative
        line-height: 17px
        font-family: HelveticaNeueRoman !important
        font-size: 16px !important
        vertical-align: middle
        height: 30px

        a
            color: $c-orange
            text-decoration: underline
            &:hover
                text-decoration: none


        .jq-checkbox
            height: 100%
            vertical-align: middle
            position: relative

            .jq-checkbox__div
                content: ''
                width: 24px
                border: 1px solid $c-gray
                border-radius: 2px
                height: 24px
                display: block
                margin-right: 5px

            input:checked + .jq-checkbox__div
                background: $c-green url('../../img/check.svg') no-repeat center
                border: 1px solid $c-green

        .cb-label

            width: calc(100% - 35px)
            display: inline-block
            position: relative
            line-height: 16px
            height: 23px
            vertical-align: middle

.styled-checkbox
    span
        margin-left: 10px
        position: relative
        top: -7px
        font-weight: normal
        font-family: HelveticaNeueRoman !important
        font-size: 16px !important


.checkbox-list-wrapper
    border: 1px solid $c-gray
    padding: 20px
    border-radius: 2px


.ck-item
    cursor: pointer
    font-family: HelveticaNeueRoman
    font-size: 16px
    font-weight: normal
    margin-bottom: 0

.ck-icon
    display: inline-block
    border: 1px solid $c-gray
    border-radius: 2px
    width: 24px
    height: 24px
    position: relative
    top: 6px
    margin-right: 15px

.ck-icon-active
    background: $c-green url('../img/check.svg') no-repeat center
    border: 1px solid $c-green
.cb-field
    .help-block
        margin-top: 0
        margin-bottom: 0

.checkbox-list
    &>label
        margin-right: 20px