.form-group
    .color-field
        label
            font-size: 16px
            font-weight: 300
            font-family: HelveticaNeueRoman

        opacity: 0.3
        &.active
            opacity: 1