@import "../_vars.sass"
@import "_media.sass"
.content
    padding-bottom: 40px

    &-block
        h2
            padding-top: 20px

section.content
    padding: 0 40px 40px
    @include mobile
        padding: 0 30px 30px

    .principaly-newads__content
        right: 0
