@import "../_vars.sass"

.faq
    ul
        li
            margin-bottom: 15px
            a
                color: $c-green
                font-size: 16px

    &-slogan
        margin-bottom: 10px

    &-text
        h2
            font-size: 24px