@import "../_vars.sass"

.field-group
    position: relative
    .SumoSelect
        width: 75px
        position: absolute
        top: 11px
        left: 5px


        .SelectBox
            border: 0
            padding: 0 3px
            height: 30px !important
            line-height: 30px !important
            border-right: 1px solid $c-gray-light

    input[type="text"]
        padding-left: 90px !important
