@import "../_vars.sass"
@import "_media.sass"

.footer
    background: $c-orange
    padding: 60px 20px

    &__block

        &-center
            text-align: center

        &-right
            text-align: right

        ul
            list-style: none
            padding: 0
            margin: 0
            line-height: 55px

            li
                display: inline-block

                a
                    color: white
                    text-decoration: none

                    &:hover
                        text-decoration: underline

                &::after
                    content: '|'
                    padding: 0 15px
                    color: white

                &:last-child::after
                    content: ''
                    display: none

        @include mobile
            text-align: center
            padding: 20px 0

    @include mobile
        padding: 40px 0

    &__bottom
        background: $c-copiright
        color: black
        min-height: 40px
        &-left
            display: block
            float: left
            width: 156px
            padding: 12px
        &-right
            color: #b8b8b8
            font-size: 12px
            line-height: 14px
            margin: 0
            padding: 12px


