@import "../_vars.sass"

.form-group
    margin-bottom: 30px
    min-height: 40px
    width: 100%


    &>label
        font-size: 16px
        font-family: HelveticaNeueRoman
        color: #0f0f0f
        font-weight: bold
        display: block

    input[type="text"], input[type="password"]
        height: 50px
        -webkit-border-radius: 2px
        border-radius: 2px
        border: 1px solid $c-gray
        outline: 0
        padding-left: 20px
        width: 100%

    textarea
        padding: 10px 20px
        width: 100%
        min-height: 150px
        border-radius: 2px
        border: 1px solid $c-gray

    p.help-block-error, div.help-block, div.hint-block
        font-size: 13px
        margin-top: 2px
        margin-bottom: 0
        text-align: right
        color: $c-orange
        float: right
        position: relative
    div.hint-block
        .success-input::before
            content: ''
            height: 25px
            width: 25px
            background: $c-green url("/dist/img/check.svg") no-repeat 50% 50%
            border-radius: 25px
            right: 15px
            top: -40px
            position: absolute
            display: block
        a
            color: $c-gray
    &.has-error
        input[type=text], input[type=password], textarea
            border: 1px solid $c-orange
    &.has-success
        input[type=text], input[type=password], textarea
            border: 1px solid $c-green


    &--small
        width: 20%

    &--medium
        width: 40%

    &--no-margin
        margin: 0


.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label
    color: $c-orange

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label
    color: $c-green