@import "../_vars.sass"

svg.icon
    width: 1em
    height: 1em
i.icon
    vertical-align: middle
.icon
    display: inline-block
    border: none


    &--white
        fill: #fff

    &--gray
        fill: $c-gray

    &--orange
        fill: $c-orange

    &--green
        fill: $c-green

    &--hover
        &_white:hover
            fill: #fff
        &_gray:hover
            fill: $c-gray
        &_orange:hover
            fill: $c-orange
        &_green:hover
            fill: $c-green
        &_op:hover
            opacity: 0.8

    &--padding
        margin-right: 10px