
.purchase-container

  .purchase-about
    &__text
      display: inline-block
      color: #c1c1c1

    &__opened, &__closed
      display: inline-block
      color: #c1c1c1
      font-size: 16px
      fill: #c1c1c1
      position: relative
      float: right
      margin-left: 10px


    &__opened
      display: block
    &__closed
      display: none

  .purchase-dropdown
    display: none
  &.active

    .purchase-about
      &__opened
        display: none
      &__closed
        display: block

    .purchase-dropdown
      display: block