@import "../_vars.sass"

.link
  display: inline-block
  color: $c-orange
  font-size: 16px
  line-height: 16px
  text-decoration: underline
  background: none
  padding: 0
  border: none
  cursor: pointer
  i
    color: $c-orange

  &:hover, &:hover i
    text-decoration: none
    color: $c-orange
  &:visited, &:visited i
    color: $c-orange
    outline: none
  &:focus
    outline: none

  &-icon
    .icon
      color: $c-gray
    &:hover
      .icon
        color: $c-orange

  &-black
    color: black
    &:hover, &:hover i
      color: #1f1f1f
    &:visited, &:visited i
      color: #1f1f1f

  &-green, &-green i
    color: $c-green
    &:hover, &:hover i
      color: $c-green
    &:visited, &:visited i
      color: $c-green

  &-gray, &-gray i
    color: $c-gray
    &:hover, &:hover i
      color: $c-gray
    &:visited, &:visited i
      color: $c-gray

  &-white, &-white i
    color: white

  &-medium
    font-size: 18px
    line-height: 18px

  &-large
    font-size: 22px
    line-height: 22px

  &-no-line
    text-decoration: none

  &-hover
    &-green
      &:hover, &:visited, &:focus
        color: $c-green
        outline: none
    &-orange
      &:hover, &:visited, &:focus
        color: $c-orange
        outline: none
    &-black
      &:hover, &:visited, &:focus
        color: black
        outline: none
    &-gray
      &:hover, &:visited, &:focus
        color: $c-gray
        outline: none

  &-gray-orange
    color: $c-gray
    i
      color: $c-gray
    &:hover, &:hover i
      color: $c-orange
