.margin
	&-left
		margin-left: 20px
		&-remove
			margin-left: 0
		&-large
			margin-left: 40px
		&-small
			margin-left: 10px
	&-right
		margin-right: 20px
		&-remove
			margin-right: 0
		&-large
			margin-right: 40px
		&-small
			margin-right: 10px
	&-top
		margin-top: 20px
		&-remove
			margin-top: 0
		&-large
			margin-top: 40px
		&-small
			margin-top: 10px
	&-bottom
		margin-bottom: 20px
		&-remove
			margin-bottom: 0
		&-large
			margin-bottom: 40px
		&-small
			margin-bottom: 10px
