@import "../_vars.sass"
@import "_media.sass"

.white-popup
    position: relative
    background: #FFF
    padding: 20px
    width: auto
    max-width: 500px
    margin: 20px auto

.sideup
    display: block

.mfp-bg.remove-overlay
    @include desktop
        display: none

.remove-overlay
    @include desktop
        .mfp-container
            padding: 0

.mfp-left
    @include desktop
        width: 320px
        margin: 0
        border-right: 1px solid $c-gray
        height: 100vh
        padding: 40px
        position: fixed
        left: 0
        top: 0
        overflow-y: scroll
        -ms-overflow-style: none
        overflow: -moz-scrollbars-none


    &::-webkit-scrollbar
        width: 0

.mfp-right
    width: 320px
    margin: 0
    border-left: 1px solid $c-gray
    padding: 40px
    position: fixed
    height: 100vh
    right: 0
    top: 0
    overflow-y: scroll


.modal-close
    right: 10px
    top: 10px
    position: absolute
    cursor: pointer


.modal-title
    display: none
    @include mobile
        display: block