@import "_media.sass"
.owl-thumbs
    margin-top: 10px
    width: 9999px

.owl-thumb-item
    display: inline-block
    width: 70px
    margin-right: 5px
    &.active::before
        width: 70px

.owl-thumbs__container
    overflow: hidden


.owl
    &-nav
        &.disabled
            display: none
    &-next, &-prev
        top: 60px
        position: absolute
        font-size: 40px
        width: 15px

    &-next
        right: 0px
        @include desktop
            right: -15px

    &-prev
        left: 0px
        @include desktop
            left: -15px