.padding
    &-left
        padding-left: 20px
        &-remove
            padding-left: 0 !important
        &-large
            padding-left: 40px !important
        &-small
            padding-left: 10px !important
    &-right
        padding-right: 20px
        &-remove
            padding-right: 0 !important
        &-large
            padding-right: 40px !important
        &-small
            padding-right: 10px !important
    &-top
        padding-top: 20px
        &-remove
            padding-top: 0 !important
        &-large
            padding-top: 40px !important
        &-small
            padding-top: 10px !important
    &-bottom
        padding-bottom: 20px
        &-remove
            padding-bottom: 0 !important
        &-large
            padding-bottom: 40px !important
        &-small
            padding-bottom: 10px !important
