@import "../_vars.sass"
@import "_media.sass"

.pagination
    float: right
    border-radius: 0

    li
        margin-right: 0
        a
            padding-left: 15px
            padding-right: 0
            color: $c-gray
            border-radius: 0
            background: none
            border: 0

            &:hover
                color: $c-orange
                background: none

        &.active
            a
                color: black
                background: none
                &:hover
                    background: none
                    color: black

        &.last::before
            content: '...'
            display: inline-block
            float: left
            margin-top: 5px
            margin-right: 4px
            color: $c-gray
            margin-left: 7px

