@import "../_vars.sass"
.qq-uploader
    border-radius: 2px
    border: 1px solid $c-gray
    background: white

.qq-upload-button
    border: none
    background: $c-gray
    border-radius: 2px
    height: 55px
    line-height: 55px
    padding: 0 40px
    box-shadow: none

    &-hover
        opacity: 0.8


.qq-upload-list-selector>li
    width: 200px
    display: inline-block
    background: none
    margin-right: 20px
    height: 250px
    padding: 0
    margin-top: 20px
    border: 0
    overflow: hidden

    .qq-upload-file
        margin-top: 15px

    .qq-upload-size
        margin-top: 5px
        margin-bottom: 15px
        color: $c-gray
        display: block

    &.hidden
        display: inline-block !important


.qq-thumbnail-wrapper
    overflow: hidden
    height: 133px

    img
        width: 100%

.qq
    &-link
        border: none
        background: white
        box-shadow: none
        font-size: 25px
        &:hover
            color: $c-orange
