@import "../_vars.sass"

.radio-styled
    cursor: pointer
    display: block

    input[type="radio"]
        width: 0px
        height: 0px
    &>span
        display: inline-block
        width: 24px
        height: 24px
        border: 1px solid $c-gray
        -webkit-border-radius: 25px
        -moz-border-radius: 25px
        border-radius: 25px
        margin-right: 15px
        position: relative
        top: 6px

    &.inline-radio
        display: inline-block
    &.active
        &>span
            background: $c-green url('../img/check.svg') no-repeat center
            border-color: $c-green