@import "../_vars.sass"
.range-slider
    margin-top: 45px
    margin-bottom: 12px

    .min-range-text
        position: absolute
        top: -30px

    .max-range-text
        position: absolute
        top: -30px
        right: 0

.noUi-target
    border: none
    box-shadow: none

.noUi-background
    box-shadow: none
    background: $c-gray

.noUi-horizontal
    height: 2px
    cursor: pointer
    width: 215px
    margin-left: 10px

    .noUi-handle
        width: 20px
        height: 20px
        left: -10px
        top: -9px

.noUi-connect
    box-shadow: none
    background: $c-green

.noUi-background,
.noUi-connect,
.noUi-base
    &:after
        content: ''
        display: block
        position: absolute
        right: 0
        top: -10px
        bottom: -10px
        left: 0

.noUi-handle
    border: none
    border-radius: 20px
    box-shadow: none
    background: $c-green
    cursor: ew-resize

    &:before,
    &:after
        display: none

.noUi-tooltip
    top: 22px
    transform: translateX(-50%)
    margin-left: 10px
    white-space: nowrap
    font-size: 14px
    border: none
    background: none
    font-weight: bold
    color: $c-green

    //
    sup
        font-size: .8em

.noUi-horizontal .noUi-handle-lower .noUi-tooltip
    top: auto
    bottom: 18px