@import "../_vars.sass"
.rect
    background: $c-gray
    position: relative

    height: 50px

    &::before
        content: ''
        position: absolute
        left: -44px
        top: 0
        border: 25px solid transparent
        border-right: 20px solid $c-gray
