@import "../_vars.sass"
@import "_media.sass"

.select-category
    &__list
        display: none
        margin-bottom: 30px

        &.active
            display: block

        @include mobile
            display: block

        &-item
            display: inline-block
            margin-right: 10px

            &:nth-child(1) span::before
                content: ''

            span
                color: $c-green
                cursor: pointer
                &::before
                    content: '/'
                    color: $c-green
                    display: inline-block
                    margin-right: 10px

    &__ads
        margin-bottom: 30px

        &>div
            margin-left: -1px
            &:nth-child(1)
                margin-left: 0

            &.active
                display: block

            @include mobile
                display: none
    &__link
        &-back
            background: $c-orange
            span
                color: white
            &:hover
                background: $c-orange !important

            @include desktop
                display: none

