@import "../_vars.sass"
.selectbox__noborder
    .SumoSelect
        max-width: 180px
        .CaptionCont
            border: 0
            line-height: inherit !important
            height: auto !important
            font-size: 15px
            color: $c-gray
            .placeholder, span
                color: $c-gray
                padding-right: 15px
            label
                width: 0
                i
                    display: none
        .optWrapper
            text-align: left
            top: 25px !important
            border-radius: 2px
            ul
                li.opt
                    label
                        font-size: 15px
                    &.selected
                        label
                            color: $c-orange
                    &:hover
                        background: $c-gray-light
                        color: $c-orange

        &.open
            .CaptionCont
                color: $c-orange
                .placeholder
                    color: $c-orange




div.SumoSelect
    display: block
    .CaptionCont.SelectBox
        height: 50px
        line-height: 50px
        border-radius: 2px
        border-color: $c-gray
        cursor: pointer
        label
            i
                background-image: url('../img/arrowdown.svg')

    &:hover, &:focus
        .CaptionCont.SelectBox
            border-color: $c-gray

    .optWrapper
        ul
            li.opt
                padding: 5px 10px !important
                border-bottom: none !important
                label
                    font-family: HelveticaNeueRoman
            &.selected
                label
                    color: $c-orange
        &.multiple
            ul>li.opt
                padding-left: 45px !important
                &>span>i
                    border: 1px solid $c-gray !important
                    height: 22px !important
                    width: 22px !important
                    box-shadow: none !important
                    border-radius: 2px !important
                &.selected span>i
                    background: $c-green url('../img/check.svg') no-repeat center !important
                    border-color: $c-green !important
