@import "_media.sass"
.sidebar
    font-size: 18px


    &__block
        margin-bottom: 40px
    &__smallblock
        margin-bottom: 20px

    &-small__title
        display: block


    &-top__right
        display: none
        @include mobile
            display: block


#search-modal

    @include desktop
        display: block !important
        position: relative
        width: 100%
        overflow: visible
        padding: 0
        height: auto
        border-left: 0
        border-right: 0

        .modal-close
            display: none
