@import "../_vars.sass"
.sidebar-find
    &__block

        &-link
            color: black
            font-size: 18px
            &::before
                content: ''
                background: url("../../img/breadcrumbRight.svg") no-repeat center
                display: inline-block
                height: 1em
                width: 1em
                margin-right: 10px
                position: relative
                top: 2px

        &-content
            display: block


        &.active &-link::before
            background: url("../../img/arrowdown.svg") no-repeat center