@import "../_vars.sass"

.sub-category
    list-style: none
    margin: 0
    padding: 0
    &__item
        padding-bottom: 20px
    &__title
        font-size: 15px
        color: black
        &:hover
            color: $c-orange
    &__info
        color: $c-gray
        font-size: 13px
        line-height: 5px
    &__less-button,
    &__more-button
        a
            color: $c-green
            text-decoration: none
            &:hover
                text-decoration: underline
    &__less-button,
    &__extra
        display: none
    &.active
        .sub-category
            &__less-button,
            &__extra
                display: block
            &__less-button
                float: right
            &__more-button
                display: none