@import "../_vars.sass"

.text

  &-meta
    color: $c-gray
    font-size: 13px
    font-family: HelveticaNeueMedium
  &-left
    display: inline-block
    text-align: left
  &-right
    display: inline-block
    text-align: right
  &-center
    display: inline-block
    text-align: center

  &-bottom
    display: table-cell
    vertical-align: bottom

  &-large
    font-size: 18px
    line-height: 18px

  &-green
    color: $c-green
  &-gray
    color: $c-gray
  &-white
    color: white
  &-orange, &-orange
    color: $c-orange
  &-icon
    font-size: 17pt
    margin-right: 5px
