.type-body
    div.type-field
        text-align: center
        padding-top: 15px
        cursor: pointer

        label
            width: initial
            padding: 0 0 0 90px !important
            margin: 0 !important

            input
                width: initial !important
